@charset "utf-8";
@import 'core/variables';

// Neat settings
$column: 40px;
$gutter: 40px;
$grid-columns: 12;
$max-width: 1100px;
$visual-grid: false;
$border-box-sizing: false;

// Dependencies
@import 'bourbon';
@import 'neat';

@import "neat-helpers";
$tablet-1024-up: new-breakpoint(min-width 1025px);
$tablet-1024: new-breakpoint(max-width 1024px);
$tablet-960: new-breakpoint(max-width 960px);
$tablet-960-up: new-breakpoint(min-width 961px);
$tablet-768: new-breakpoint(max-width 768px);
$tablet-768-up: new-breakpoint(min-width 769px);
$tablet-730-up: new-breakpoint(min-width 731px);
$tablet-730: new-breakpoint(max-width 730px);
$tablet-600: new-breakpoint(max-width 600px);
$tablet-600-up: new-breakpoint(min-width 601px);
$mobile-480: new-breakpoint(max-width 480px);
$mobile-480-up: new-breakpoint(min-width 481px);
$mobile-320: new-breakpoint(max-width 320px);

// Core
@import 'core/normalize';
@import 'core/extenders';
@import 'core/mixins';
@import 'core/functions';
@import 'core/svg-sprite';

// Base & Layout
@import 'site/layout';
@import 'site/views/header';
@import 'site/views/footer';

// Modules
@import 'modules/global';
@import 'modules/forms';
//@import 'modules/modal';
//@import 'modules/slider';
//@import 'modules/tables';
@import 'modules/typography';
@import 'modules/icons';

// Pages
@import 'site/pages/home';

// Print
//@import 'site/print';
