.form-item {
	margin: 0 0 10px;
	
	input[type=text],
	textarea,
	select {
		background: $color-grey-light;
		border: 1px solid $color-grey-dark;
		border-radius: $border-radius;
		display: block;
		font-size: 15px;
		width: 100%;
	}
	
	input[type=text],
	select {
		height: 32px;
		padding: 0 10px;
	}
	
	textarea {
		height: 130px;
		padding: 10px;
		resize: none;
	}
}
