.clearfix:after {
    clear: both;
    content: '';
    display: table;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
