.modal-on {
    body {
        overflow: hidden;
    }
}

.modal-context {
    @include position(fixed, 0 null null 0);
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    z-index: 1500;
}

.modal-container {
    border-top: 2px solid $color-blue;
    margin: 130px auto;
    max-width: 100%;
    position: relative;
    width: 660px;
}

.modal-title {
    background: $color-white;
    border-bottom: 1px solid $border-snippet;
    box-sizing: border-box;
    font: {
        size: 18px;
        weight: $weight-bold;
    }
    line-height: 1.1;
    overflow: hidden;
    padding: 12px 60px 12px 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-content {
    background: $color-white;
    box-sizing: border-box;
    color: $color-black-secondary;
    padding: 15px 20px 25px;

    pre {
        background-color: $color-grey-light;
        border: 1px solid $color-grey-dark-secondary;
        font: {
            family: $font-main;
            size: 12px;
        }
        margin: 6px 0 0;
        padding: 12px 10px;
    }

    .btn-holder {
        padding-top: 15px;
    }
}

.modal-close {
    @include position(absolute, 0 1px null null);
    background: none;
    border: solid $border-snippet;
    border-width: 0 0 0 1px;
    cursor: pointer;
    height: 44px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-indent: 99px;
    width: 45px;

    &:after,
    &:before {
        @include position(absolute, 0 0 0 0);
        background-color: $color-black;
        content: '';
        height: 1px;
        margin: auto;
        width: 25px;
    }

    &:before {
        @include transform(rotate(45deg));
    }

    &:after {
        @include transform(rotate(-45deg));
    }

    &:hover {
        &:before,
        &:after {
            background-color: $color-blue;
        }
    }
}
