%snippet-btn-style {
    background-color: transparent;
    border: solid $border-snippet;
    border-width: 0 1px;
    color: #999;
    display: block;
    font-size: 13px;
    height: 45px;
    padding: 0 15px;
    float: left;
}

%drawer-style {
    @include transition(all .3s ease-out);
    @include transform(translateY(-15px));
    background: $color-grey;
    border-top: 2px solid $color-blue;
    margin-top: -1px;
    height: 500px;
    opacity: 0;
    overflow: auto;
    position: relative;
    width: 100%;

    .active & {
        @include transform(translateY(0));
        //@include transition(max-height .1s ease-out .125s, opacity .15s ease-in .2s);
        height: 500px;
        opacity: 1;
        overflow: visible;
    }
}

.sg-holder {
    @include transition(all .3s ease-out);
    height: 0;
    visibility: hidden;
    //position: relative;
    @include position(absolute, 47px 0 null);
    width: 100%;
    z-index: 10;

    &.active {
        visibility: visible;
        height: auto;
        overflow: visible;
    }

    .sg-header & {
        top: 60px;
    }
}

.drawer-tip {
    &:before {
        content: '';
        @include triangle(10px 5px, $color-blue, up);
        @include position(absolute, null 50% 100% null);
        margin-bottom: 2px;
    }
}

.sg-snippet {
    margin-top: -1px;
    position: relative;
}

// Snippet Header
.sg-snippet-header {
    border: solid $border-snippet;
    border-width: 1px 0;
    box-sizing: border-box;
    vertical-align: middle;

    .sg-page-wrapper {
        @extend %clearfix;
        position: relative;
        height: 45px;
        line-height: 45px;
    }

    .sg-snippet-title {
        @include ellipsis();
        font: {
            size: 18px;
            weight: $weight-bold;
        }
        float: left;
        width: 45%;
    }

    .sg-snippet-size {
        float: left;
        width: 10%;
        text-align: center;
    }

    .sg-header-controls {
        float: right;

        .btn-show-code {
            @extend %snippet-btn-style;
            @extend %remove-outline;

            min-width: 125px;

            &:after {
                background: sassvg('code', #999) center/contain no-repeat;
                content: '';
                display: inline-block;
                height: 12px;
                margin-left: 10px;
                vertical-align: middle;
                width: 17px;
            }

            &:hover,
            &.active {
                color: $color-black;

                &:after {
                    background: sassvg('code', $color-blue) center/contain no-repeat;
                }
            }
        }

        .btn-edit {
            @extend %snippet-btn-style;
            @extend %remove-outline;
            display: none;
            margin-left: -1px;
            font-size: 0;

            .server-on & {
                display: block;
            }

            &:before {
                background: sassvg('pencil', #999) center/contain no-repeat;
                content: '';
                width: 15px;
                height: 45px;
                display: inline-block;
            }

            &:hover,
            &.active {

                &:before {
                    background: sassvg('pencil', $color-blue) center/contain no-repeat;
                }
            }
        }

        .btn-delete {
            @extend %snippet-btn-style;
            @extend %remove-outline;
            display: none;
            margin-left: -1px;
            font-size: 0;

            .server-on & {
                display: block;
            }

            &:before {
                background: sassvg('trash', #999) center/contain no-repeat;
                content: '';
                display: inline-block;
                width: 16px;
                height: 45px;
            }

            &:hover,
            &.active {

                &:before {
                    background: sassvg('trash', $color-red) center/contain no-repeat;
                }
            }
        }
    }
}

// Snippet Info
.sg-snippet-info {
    @extend %drawer-style;

    .sg-page-wrapper {
        position: relative;
        padding: 60px 0;
    }

    .drawer-tip {
        &:before {
            right: 50px;

            .server-on & {
                right: 146px;
            }
        }
    }

    .sg-page-wrapper {
        @extend %clearfix;
    }

    .sg-snippet-code {
        position: relative;
        box-sizing: border-box;
        padding-right: 10px;

        .sg-snippet-code-preview {
            background: #323232;
            color: #fff;
            border-radius: 4px;
            border: transparent solid 2px;
            padding: 10px;
            white-space: pre;
            word-wrap: normal;
            display: block;
            overflow: auto;
            line-height: (22 / 11);
            height: 323px;
            font: {
                family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
                size: 11px;
                weight: normal;
            }

            &::selection{
                background: $color-black;
                color: $color-white;
            }
        }

        .btn-blank {
            @include position(absolute, 10px 30px null null);
            background: $color-white;
            font-size: 13px;
            height: 22px;
            line-height: 1;
            padding: 0 15px;
        }
    }

    .sg-snippet-description {
        float: right;
        width: 43%;
        box-sizing: border-box;
        padding-left: 10px;
        max-height: 350px;
        overflow-y: auto;
        font-size: 14px;
        line-height: 1.6;

        .sg-title {
            font: {
                size: 16px;
                weight: $weight-bold;
            }
            line-height: 1.1;
            padding-bottom: 8px;
        }
    }
}

// Snippet Settings (Edit form)
.snippet-settings {
    @extend %drawer-style;

    .sg-header & {
        @include position(absolute, 100% 0 null);
    }

    .sg-page-wrapper {
        position: relative;
    }

    .sg-form-wrapper {
        @extend .row;
        padding: 40px 0;
        position: relative;

        .checkbox-wrapper {
            @include position(absolute, 100% null null 10px);
            margin-top: 10px;
            z-index: 10;
        }
    }

    .drawer-tip {

        &:before {
            right: 73px;
            margin-bottom: 51px;
        }
    }

    &.new-snippet {
        .drawer-tip {

            &:before {
                right: 108px;
                margin-bottom: 2px;
            }
        }
    }

    .columns {
        position: relative;
        padding-top: 15px;
    }

    .editor-view {
        height: 255px;
        width: 100%;
        font-size: 11px;
        line-height: 22px;
        box-sizing: border-box;
    }

    .field-wrapper {
        margin: 0 0 15px;
    }

    .field-label {
        @include position(absolute, null null 100% 10px);
        font-size: 14px;
        margin: 0 0 -10px 0;
    }

    .tooltip {
        z-index: 1000;

        &.pos-right {
            @include position(absolute, null 10px 100% null);
            margin-bottom: -5px;
        }
    }

    .sg-link-delete {
        @include position(absolute, 100% 0 null null);
        margin-top: 5px;
    }

    .ace_editor {
        @include transition(border .6s);
        border-radius: 4px;

        &.ace_focus {
            box-shadow: none;
            border-color: $color-blue;
            outline: none;
        }
    }

    .sg-editor-holder {
        position: relative;

        .btn-full-screen {
            @include position(absolute, null 3px 3px null);
            opacity: 0;
            pointer-events: none;
            @include transition(opacity .3s ease);
            z-index: 1000;
        }

        &:hover {
            .btn-full-screen {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .sg-controls-row {
        background: $color-blue;
        color: $color-white;
        margin: 0;

        .sg-page-wrapper {
            padding: {
                bottom: 15px;
                top: 15px;
            }
        }

        .btn-primary {
            background: $color-white;
            color: $color-blue;
        }

        .btn-blank {
            color: $color-white;
        }

        .sg-snippet-title {
            display: inline-block;
        }

        .sg-controls-buttons {
            @include clearfix;
            float: right;
        }
    }

    .field-text {
        @extend %form-item-style;
        height: 37px;
    }

    .field-select {
        @extend %form-item-style;
        -webkit-appearance: none;
        height: 37px;
        line-height: 1;
    }

    .field-textarea {
        @extend %form-item-style;
        height: 150px;
        resize: none;
    }

    .checkbox-wrapper {
        position: relative;
        font-size: 14px;

        .fake-box {
            background-color: $color-white;
            border: 1px solid transparent;
            display: inline-block;
            height: 16px;
            margin: -2px 10px 0 0;
            vertical-align: middle;
            width: 16px;
            border-radius: 4px;
            position: relative;
        }
    }

    .field-checkbox {
        @include position(absolute, 7px null null null);
        height: 16px;
        opacity: 0;
        width: 16px;

        &:checked {
            ~ .fake-box {
                border-color: transparent;

                &:before {
                    @include position(absolute, -1px null null -1px);
                    background: sassvg('check', $color-blue) center/12px no-repeat;
                    content: '';
                    width: 18px;
                    display: block;
                    height: 18px;
                }
            }
        }
    }

    label {
        color: $color-black-secondary;
        display: block;
        margin-bottom: 5px;

        &[for] {
            cursor: pointer;
        }
    }
}

.fullScreen {
    overflow: hidden;

    .fullScreen-editor {
        border: 0;
        height: auto !important;
        @include position(fixed, 0 0 0 0);
        margin: 0;
        width: auto !important;
        z-index: 10000;

        + .btn-full-screen {
            opacity: 1;
            position: fixed;
            z-index: 10001;
        }
    }
}

// Ace editor modifications
.sg-snippet-form {
    .ace_info {
        display: none;
    }

    .ace-github .ace_gutter {
        background-color: transparent;
        color: #999;
    }

    .ace_scroller.ace_scroll-left {
        box-shadow: none;
        border-left: #d3d3d3 solid 1px;
    }

    .ace_gutter-layer {
        width: 36px;
    }

    .ace_warning {
        display: none;
    }

    .ace_gutter-cell {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ace-github .ace_marker-layer .ace_active-line,
    .ace-github .ace_gutter-active-line {
        background: none;
    }

    .ace-github.ace_focus .ace_marker-layer .ace_active-line,
    .ace-github.ace_focus .ace_gutter-active-line {
        background: rgba(#999999, 0.20);
    }

    .ace_gutter-cell.ace_error {
        background: none;
    }

    .ace-github .ace_marker-layer .ace_bracket {
        border: none;
        outline: none;
    }

    .ace-github.ace_focus .ace_marker-layer .ace_bracket {
        background: rgba(#999999, 0.20);
    }

    .ace-github.ace_focus .ace_cursor {
        display: block;
        z-index: 4;
        position: absolute;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-left: 2px solid;
    }
}

.sg-editor-holder {
    .ace-idle-fingers .ace_cursor {
        color: #29ABE2;
    }
}

// Snippet Preview
.sg-snippet-preview {
    margin: 0 auto;
    padding: 60px 10px;
    position: relative;
    @include transition(margin-top .3s ease-out);

    .sg-snippet-resize-handle {
        height: 100px;
        width: 30px;
        margin-top: -50px;
        @include position(absolute, 50% null null null);
        @include transition(all 0.4s);
        visibility: hidden;
        opacity: 0;

        &:before {
            background: sassvg('drag', #999) center/contain no-repeat;
            @include position(absolute, 50% null null null);
            content: '';
            height: 17px;
            margin-top: -8px;
            width: 11px;
        }

        &.pos-right {
            @include transform(translateX(-10px));
            border-right: 1px solid $border-snippet;
            left: -30px;
            cursor: e-resize;

            &:before {
                left: 10px;
            }
        }

        &.pos-left {
            @include transform(translateX(10px));
            border-left: 1px solid $border-snippet;
            cursor: w-resize;
            right: -30px;

            &:before {
                right: 10px;
            }
        }
    }
}

.active ~ .sg-snippet-preview {
    margin-top: 467px;
}

.sg-snippet {
    &:hover {

        .sg-snippet-resize-handle {
            @include transform(translateX(0));
            opacity: 1;
            visibility: visible;
        }
    }
}

.sg-snippet-source {
    &.resize-overlay {
        pointer-events: none;
        position: relative;

        &:before {
            @include position(absolute, 0 0 0 0);
            content: '';
            opacity: .8;
            z-index: 1000;
        }
    }
}
