$snippet-header-height: 46px - 2px;

.snippet {
	margin-top: -1px;
}

.sg-snippet-header {
	border: solid $border-snippet;
	border-width: 1px 0;
	padding: 12px 0;

	.sg-snippet-title {
		font: {
			size: 18px;
			weight: $weight-bold;
		}
		line-height: 1.2;
	}
}

.sg-colors-container {
	margin-bottom: 1px;
}

.sg-colors-holder {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	white-space: nowrap;

	li {
		display: inline-block;
		font-size: 14px;
		width: 109px;
		height: 150px;
	}

	.sg-color-box {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;

		&:before {
			content: attr(data-color-text);
			@include position(absolute, null 0 10px 0);
			margin: 0 auto;
			padding: 0 5px;
			color: $color-white;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.sg-color-variable {
		display: none;
	}
}

.snippet-control-btn {
	background-color: transparent;
	border: 0;
	font-size: 24px;
	height: $snippet-header-height;
	padding: 0;
	position: relative;
	width: 58px;
	
	&.active {
		background: $color-grey;
		
		&:after {
			background: $color-grey;
			bottom: -1px;
			content: '';
			height: 1px;
			left: 0;
			position: absolute;
			right: 0;
		}
	}
}

.snippet-size {
	border-left: 1px solid $color-grey-dark;
	border-right: 1px solid $color-grey-dark;
	height: $snippet-header-height;
	line-height: $snippet-header-height;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}

.snippet-code {
	background: $color-grey;
	border-bottom: 1px solid $color-grey-dark;
	
	.code-preview,
	.code-description {
		padding: 28px 0;
	}
	
	.code-preview {
		border-right: 1px solid $color-grey-dark;
		font-size: 12px;
	}
	
	.code-description {
		border-left: 1px solid $color-grey-dark;
		font-size: 14px;
		margin-left: -1px;
		padding-left: 28px;
	}
}

.snippet-preview {
	border: 1px solid $color-grey-dark;
	border-top: 0;
	margin: 0 auto;
	position: relative;
}

.snippet-resize-handle {
	border-left: 1px solid $color-grey-dark;
	border-right: 1px solid $color-grey-dark;
	cursor: w-resize;
	height: 20px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
	width: 4px;
	
	&-left {
		left: -10px;
	}
	
	&-right {
		right: -10px;
	}
}

// module Snippet fonts
.sg-snippet-fonts-holder {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	
	li {
		padding: 30px 0;
	}
	
	.sg-snippet-fonts-big {
		font-size: 136px;
		line-height: 1;
	}
	
	.sg-snippet-fonts-variable {
		border-bottom: 1px solid $border-snippet;
		margin-bottom: 10px;
		padding-bottom: 10px;
		font-size: 16px;
	}
	
	.sg-snippet-fonts-small {
		font-size: 20px;
		line-height: 1.4;
	}
}

// module Snippet headings
.sg-snippet-headings-holder {
	list-style-type: none;
	margin: 0;
	padding: 60px 0;
	
	li {

		div {
			&:first-child {
				border-right: 1px solid $border-snippet;
				text-align: right;
				padding-bottom: 10px;
			}

			&:last-child {
				padding-left: 12px;
			}
		}
	}
}

.sg-snippet-text-example {
	.sg-text-example-title {
		display: block;
		padding-bottom: 10px;
		line-height: 1.2;
		font-size: 30px;
	}
}
