%subscript-text-style {
    bottom: -8px;
    color: $color-pink;
    font-size: 15px;
    vertical-align: top;
}

.snippet-settings {
    display: none;

    &.opened {
        display: block;
    }

    .drawer-tip {
        &:before {
            right: 27px;
        }
    }
}

.field-wrapper {
    margin: 0 0 15px;
}

.sg-snippet-form {
    background: $color-grey;
    border-top: 2px solid $color-blue;
    position: relative;
    z-index: 10;
    margin-top: -1px;

    .sg-form-wrapper {
        @extend .row;
        padding: 60px 0;
        position: relative;
    }

    .sg-page-wrapper {
        position: relative;
        //max-height: 0;
        //overflow: hidden;
        //@include transition(max-height 0.8s);

        .opened & {
            //max-height: 450px;
        }
    }

    .sg-controls-row {
        background: $color-blue;
        color: $color-white;

        .sg-page-wrapper {
            padding: {
                top: 15px;
                bottom: 15px;
            };
        }

        .btn-primary {
            background: $color-white;
            color: $color-blue;
        }

        .btn-blank {
            color: $color-white;
        }

        .sg-snippet-title {
            float: right;
        }
    }

    .editor-view {
        height: 255px;
        width: 100%;
        font-size: 11px;
        line-height: 22px;
        box-sizing: border-box;
    }

    .ace_editor {
        background-color: $color-white;
        border: transparent solid 2px;
        border-radius: 4px;
        color: $color-black-secondary;

        &.ace_focus {
            box-shadow: none;
            border-color: $color-blue;
            outline: none;
        }
    }

    .columns {
        position: relative;
    }

    .field-label {
        @include position(absolute, null null 100% 10px);
        font-size: 14px;
    }

    .tooltip.pos-right {
        @include position(absolute, null 10px 100% null);
        margin-bottom: 5px;
    }

    .checkbox-wrapper {
        @include position(absolute, 100% null null 10px);
        margin-top: 10px;
        z-index: 10;
    }

    .sg-link-delete {
        @include position(absolute, 100% 0 null null);

        .btn-with-icon {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.sg-form-title {
    font: {
        size: 36px;
        weight: $weight-bold;
    }
    padding-right: 20px;
    text-align: right;
}

.sg-editor-holder {
    position: relative;

    .btn-full-screen {
        @include position(absolute, null 3px 3px null);
        opacity: 0;
        pointer-events: none;
        @include transition(opacity .3s ease);
        z-index: 1000;
    }

    &:hover {
        .btn-full-screen {
            opacity: 1;
            pointer-events: all;
        }
    }
}

%form-item-style {
    background-color: $color-white;
    border: transparent solid 2px;
    border-radius: 4px;
    box-sizing: border-box;
    color: $color-black-secondary;
    display: block;
    font-size: 14px;
    padding: 8px 14px;
    width: 100%;

    &:active,
    &:focus {
        box-shadow: none;
        border-color: $color-blue;
        outline: none;
    }
}

.field-text {
    @extend %form-item-style;
    height: 37px;
}

.field-select {
    @extend %form-item-style;
    -webkit-appearance: none;
    background: url($src-select-arrow) no-repeat 100% 50%, -webkit-linear-gradient(bottom, $color-white 0%, $color-white 100%);
    height: 37px;
}

.field-textarea {
    @extend %form-item-style;
    height: 150px;
    resize: none;
}

.checkbox-wrapper {
    position: relative;

    .fake-box {
        background-color: $color-white;
        border: 1px solid transparent;
        display: inline-block;
        height: 16px;
        margin: -2px 10px 0 0;
        vertical-align: middle;
        width: 16px;
        border-radius: 4px;
    }
}

.field-checkbox {
    @include position(absolute, 7px null null null);
    height: 16px;
    opacity: 0;
    width: 16px;

    &:checked {
        ~ .fake-box {
            border-color: transparent;

            &:before {
                @extend %font-icon-style;
                @include position(absolute, 5px null null 0);
                color: $color-blue;
                content: '\f00c';
                font-size: 12px;
                text-align: center;
                width: 19px;
            }
        }
    }
}

label {
    color: $color-black-secondary;
    display: block;
    margin-bottom: 5px;

    sub {
        @extend %subscript-text-style;
    }

    &[for] {
        cursor: pointer;
    }
}

// Ace editor modifications
.sg-snippet-form {
    .ace_info {
        display: none;
    }

    .ace-github .ace_gutter {
        background-color: transparent;
        color: #999;
    }

    .ace_scroller.ace_scroll-left {
        box-shadow: none;
        border-left: #d3d3d3 solid 1px;
    }

    .ace_gutter-layer {
        width: 36px;
    }

    .ace_warning {
        display: none;
    }

    .ace_gutter-cell {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ace-github .ace_marker-layer .ace_active-line,
    .ace-github .ace_gutter-active-line {
        background: none;
    }

    .ace-github.ace_focus .ace_marker-layer .ace_active-line,
    .ace-github.ace_focus .ace_gutter-active-line{
        background: rgba(#999999, 0.20);
    }

    .ace_gutter-cell.ace_error {
        background: none;
    }

    .ace-github .ace_marker-layer .ace_bracket {
        border: none;
        outline: none;
    }

    .ace-github.ace_focus .ace_marker-layer .ace_bracket {
        background: rgba(#999999, 0.20);
    }

    .ace_cursor {
        display: none;
    }

    .ace-github.ace_focus .ace_cursor {
        display: block;
        z-index: 4;
        position: absolute;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-left: 2px solid;
    }
}

