$snippet-header-height: 46px - 2px;

.snippet {
	margin-top: -1px;
}

.snippet-header {
	border-bottom: 1px solid $color-grey-dark;
	border-top: 1px solid $color-grey-dark;
	height: $snippet-header-height + 2px;
	
	h1 {
		float: left;
		font-size: 22px;
		line-height: $snippet-header-height;
	}
}

.snippet-control-btn {
	background-color: transparent;
	border: 0;
	font-size: 24px;
	height: $snippet-header-height;
	padding: 0;
	position: relative;
	width: 58px;
	
	&.active {
		background: $color-grey;
		
		&:after {
			background: $color-grey;
			bottom: -1px;
			content: '';
			height: 1px;
			left: 0;
			position: absolute;
			right: 0;
		}
	}
}

.snippet-size {
	border-left: 1px solid $color-grey-dark;
	border-right: 1px solid $color-grey-dark;
	height: $snippet-header-height;
	line-height: $snippet-header-height;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}

.snippet-code {
	background: $color-grey;
	border-bottom: 1px solid $color-grey-dark;
	
	.code-preview,
	.code-description {
		padding: 28px 0;
	}
	
	.code-preview {
		border-right: 1px solid $color-grey-dark;
		font-size: 12px;
	}
	
	.code-description {
		border-left: 1px solid $color-grey-dark;
		font-size: 14px;
		margin-left: -1px;
		padding-left: 28px;
	}
}

.snippet-preview {
	border: 1px solid $color-grey-dark;
	border-top: 0;
	margin: 0 auto;
	position: relative;
}

.snippet-resize-handle {
	border-left: 1px solid $color-grey-dark;
	border-right: 1px solid $color-grey-dark;
	cursor: w-resize;
	height: 20px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
	width: 4px;
	
	&-left {
		left: -10px;
	}
	
	&-right {
		right: -10px;
	}
}

.snippet-colors {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	text-align: center;
	
	li {
		display: inline-block;
		padding: 20px;
		
		i {
			border: 1px solid $color-black;
			border-radius: $border-radius;
			display: inline-block;
			height: 80px;
			width: 80px;
		}
	}
}

.snippet-fonts {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	
	li {
		padding: 30px 0;
	}
	
	.snippet-fonts-big {
		font-size: 136px;
		line-height: 1;
	}
	
	.snippet-fonts-variable {
		border-bottom: 1px solid $color-grey;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	
	.snippet-fonts-small {
		font-size: 20px;
		line-height: 1.4;
	}
}

.snippet-type-headings {
	list-style-type: none;
	margin: 0;
	padding: 60px 0;
	
	li {
		
		div:first-child {
			border-right: 1px solid $color-grey;
		}
		
		div:last-child {
			padding-left: 40px;
		}
	}
}

.snippet-type-text {
	padding: 0 40px 40px;
}
