//-- colors:start --//
$color-yellow: #fdb913;
$color-green: #006a44;
//-- colors:end --//

//-- typo:start --//
$font-heading: Arial, sans-serif; // 400, 400 itali, 700, 700 italic
//-- typo:end --//