html {
	box-sizing: border-box;
	height: 100%;
}

body {
	height: 100%;
}

.page-container {
	margin-bottom: -$footer-height;
	min-height: 100%;
	
	&:after {
		content: '';
		display: block;
		height: $footer-height;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.page-wrapper {
	margin: 0 auto;
	max-width: $media-medium + $grid-gutter;
	padding: 0 $grid-gutter/2;
}
