html {
	box-sizing: border-box;
	height: 100%;
}

body {
	height: 100%;
}

.page-container {
	margin-bottom: -$footer-height;
	min-height: 100%;
	
	&:after {
		content: '';
		display: block;
		height: $footer-height;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.page-wrapper {
	margin: 0 auto;
	padding: 0 $grid-gutter/2;
	
	@if $grid-responsive == true {
		max-width: $media-medium + $grid-gutter;
	} @else {
		width: $media-medium + $grid-gutter;
	}
}

@if $grid-responsive == false {
	.page-prewrapper {
		min-width: $media-medium + $grid-gutter * 2;
	}
}

@for $i from 1 through 9 {
	.layer-#{$i} {
		z-index: $i * 100;
	}
}
