.sg-row {
	@extend %clearfix;
	margin: 0 $grid-gutter/-2;
}

.sg-row .column,
.sg-row .columns {
	float: left;
	padding: 0 $grid-gutter/2;
	
	& + &:last-child {
		float: right;
	}
	
	& + &.end {
		float: left;
	}
}

@for $i from 1 through $grid-columns {
	.sg-row .medium-#{$i} {
		width: 100% * ($i / $grid-columns);
	}
}

@media (max-width: $media-small) {
	@for $i from 1 through $grid-columns {
		.sg-row .small-#{$i} {
			width: 100% * ($i / $grid-columns);
		}
	}
}
