/templates/node_modules
node_modules
.idea
/.idea/
/.tmp/
/.vagrant/
/build/
/coverage/
/dist/
/node_modules/
/npm-debug.log
/out/
/src/assets/styles/*.map
/uploads/
/*.sublime-project
/*.sublime-workspace
/logs/
/_demo/
