$icons: (
	sprite: (
		width: {{spriteWidth}}px,
		height: {{spriteHeight}}px,
		pngPath: 'images/sprite.png',
		svgPath: 'images/sprite.svg'
	),
{{#shapes}}
	{{base}}: (
		width: {{width.inner}}px,
		height: {{height.inner}}px,
		backgroundX: {{position.absolute.x}}px,
		backgroundY: {{position.absolute.y}}px
	){{^last}},{{/last}}
{{/shapes}}
);
