// global Variables
$disable-warnings: true;
$border-box-sizing: false !default;

// module TYPOGRAPHY
$base-line-height: (30 / 18);
$base-font-size: 18px;

// fonts
$font-avenir: 'Avenir Next W01', sans-serif; // 500, 700, 800
$font-droid: 'Droid Serif W01', sans-serif; // 400

$heading-font: $font-avenir;

$weight-light: 300;
$weight-regular: 500;
$weight-medium: 500;
$weight-bold: 700;

//module MAIN COLOR PALETTE
$color-black: #292929;
$color-black-100: #333;
$color-black-100: #2d3335;
$color-black-200: #010101;
$color-blue: #3381ff;
$color-light-blue: #29aae2;
$color-light-gray: #f4f4f5;
$color-white: #fff;
$color-yellow: #f6dc44;
$color-gray: #cdcccc;
$color-gray-100: #989898;
$color-pink: #f76cb5;

//module TEXT COLORS
$text-primary: $color-black;
$text-link: $color-black;
$text-list-number: $color-blue;
$text-snippet-title: $color-blue;
$text-button-link: $color-blue;
$text-btn-show-code: $color-gray-100;
$text-snippet-size: $color-black-200;
$text-btn-link: $color-light-blue;
$text-snippet-control-active: $color-black-200;

$border-primary: $color-black;
$border-btn-secondary: $color-blue;
$border-snippet: $color-gray;
$snippet-active: $color-light-blue;

$bg-primary: $color-light-gray;
$bg-secondary: $color-black-100;
$bg-primary-button: $color-blue;
$bg-snippet-editor: #eaeaea;

//module LINK COLORS

//module SELECTION COLORS

// module ETC
$max-width-content: 1100px;
$snippet-box-width: 708px;
$header-height-desktop: 85px;
