%font-icon-style {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: {
        family: 'FontAwesome';
        weight: normal;
        style: normal;
    }
    text-rendering: auto;
}
