// Media queries
$media-medium: 1180px;
$media-small: 600px;

// Grid
$grid-columns: 12;
$grid-gutter: 20px;
$grid-responsive: false;

// Fonts
$font-main: Lato, Arial, sans-serif; // 300, 400, 700, 300 italic, 400 italic, 700 italic
$font-secondary: 'Open Sans Condensed', sans-serif; // 300

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

// Colors
$color-black: #000;
$color-black-secondary: #333;
$color-white: #fff;
$color-grey-01: #e0e0e0;
$color-grey: #e6e6e6;
$color-grey-dark: #4d4d4d;
$color-grey-dark-secondary: #666;
$color-grey-dark-tertiary: #2b2b2b;
$color-grey-light: #f2f2f2;
$color-grey-light-01: #ccc;
$color-blue: #29abe2;
$color-pink: #ed1e79;
$color-red: #c1272d;

$text-secondary: $color-black-secondary;
$border-color-primary: $color-grey-dark-secondary;

// Etc
$border-radius: 4px;
$border-snippet: $color-grey-light-01;
$footer-height: 60px;
$text-secondary: $color-black-secondary;
$border-color-primary: $color-grey-dark-secondary;
$bg-dropdown: $color-grey;

$src-logo: 'db-logo.svg';
