//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Fox example, major layout styles can be dedicated for header and/or footer.

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    color: $text-primary;
    font: {
        family: $font-proxima-nova;
        size: $base-font-size;
        style: normal;
        weight: $weight-regular;
    }
    line-height: $base-line-height;
    min-width: 320px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;

    //To prevent the iPhone and iPad from inflating fonts
    @include respond-to(1024, max) {
        -webkit-text-size-adjust: 100%;
    }
}

iframe {
    border: 0;
    height: auto;
    margin: 0;
    width: 100%;
}

.clearfix {
    @include clearfix($extend: true)
}
