.page-header-holder {
    background-color: $color-white;

    .page-frame {
        max-width: 1440px;
    }

    &.fixed {
        box-shadow: 0 -1px 9px 1px rgba(0, 0, 0, .5);
    }

    @include media($tablet-1024-up) {
        @include position(fixed, -$header-height-desktop 0 null 0);
        z-index: 10;

        &:before {
            content: '';
            display: block;
            height: $header-height-desktop;
        }
    }
}

.page-header {
    display: table;
    table-layout: fixed;
    width: 100%;

    &-box {
        display: table-cell;
        height: 70px;
        vertical-align: middle;

        .links-group {
            @extend %clearfix;

            a {
                display: block;
                float: left;

                + a {
                    margin-left: 20px;
                }
            }
        }
    }

    @include media($tablet-768-up) {
        &-box {
            .links-group {
                a {
                    + a {
                        margin-left: 30px;
                    }
                }
            }
        }
    }

    @include media($tablet-600-up) {
        &-box {
            height: $header-height-desktop;
        }
    }

    @include media($tablet-600) {
        &-box {
            &:first-child {
                display: none;
            }

            &:last-child {
                display: none;
            }
        }
    }
}

.logo-holder {
    @include transition(opacity 0.5s);
    margin: 0;
    opacity: 0;

    &.home-logo-is-invisible {
        opacity: 1;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

.github-link {
    display: inline-block;
    min-height: 26px;
    padding-left: 32px;

    &:after {
        @include svg-sprite('icon-github');
        @include position(absolute, 0 null 0 0);
        content: '';
    }

    @include media($tablet-1024-up) {
        &:before {
            left: 32px;
            width: auto;
        }
    }
}
