.page-header-holder {
    @include position(fixed, 0 0 null);
    z-index: 99;

    @include media($mobile-480){
        display: none;
    }
}

.page-header {
    background: $color-white;
    box-shadow: 0 -1px 9px 1px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding: 12px 0;

    &-nav {
        @include clearfix();

        a {
            //@include transition(color 0.2s);
            display: block;
            float: left;
            font-weight: 700;
            position: relative;

            &:hover {
                //color: $color-blue;
            }
        }
    }

    .db-logo {

        img {
            display: block;
        }
    }

    .nav-internal {
        float: left;

        a:not(.db-logo) {
            margin-left: 25px;
            margin-top: 5px;
        }
    }

    .nav-external {
        float: right;

        a {
            margin-left: 25px;
            margin-top: 5px;
        }
    }

    .page-frame {
        max-width: 1440px;
    }
}

.logo-holder {
    margin: 0;

    img {
        display: block;
    }

    @include media($tablet-1024-up) {
        @include transition(opacity .5s);
        @include transform(translateY(50px));
        @include transition(all 0.3s);
        opacity: 0;

        &.home-logo-is-invisible {
            @include transform(translateY(0px));
            opacity: 1;
        }
    }
}

.demo-link {
    @include transition(all .3s ease-out);
    border: solid 1px #868686;
    border-radius: 16px;
    padding: 0 20px;
    margin-left: 25px;

    @include media($tablet-1024-up) {
        &:hover {
            background-color: $color-black;
            color: $color-white;
        }
    }
}

.icon-github {
    padding-left: 30px;
    display: inline-block;

    &:after {
        content: '';
        @include position(absolute, -1px 0 null null);
        @include svg-sprite('icon-github');
    }
}