.demo-warning {
    background: #e42c39;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: white;
    font-size: 13px;
    margin-top: -2px;
    position: relative;
    text-align: center;
    z-index: 6;
    line-height: 2.5;
}

.btn-primary:disabled {
    background: darkgray;
    cursor: not-allowed;
    opacity: .7;
}

.btn-primary:disabled:hover {
    background: darkgray;
    color: white;
}

