.sg-header {
    @extend .clearfix;
    background: $color-black;
    color: $color-white;
    padding: 14px 0 13px;

    .sg-title {
        display: block;
        margin-right: 10px;
        float: left;
        font: {
            weight: $weight-bold;
            size: 20px;
        }
        color: $color-blue;
        line-height: 1.5;
    }
}

.sg-header-nav {
    float: left;
    position: relative;

    .subtitle {
        position: relative;
        display: inline-block;
        height: 26px;
        margin: -6px 30px 0 0;
        padding: 0 24px 0 10px;
        vertical-align: middle;
        border: solid #999999;
        border-width: 0 0 0 1px;
        background: transparent;
        font: {
            weight: $weight-light;
            size: 20px;
        }
        line-height: 1;
        color: $color-white;

        &:before {
            content: '\f107';
            @include position(absolute, 5px 0 null null);
            font-size: 20px;
            @extend %font-icon-style;
        }
    }
}

// module Navigation buttons
.btn-nav-group {
    display: inline-block;
    height: 32px;
    border: 1px solid #4d4d4d;
    border-radius: 20px;

    .btn-nav {
        height: 29px;
        padding: 0;
        border: 0;
        background: transparent;
        font-size: 0;

        &:before {
            display: inline-block;
            padding: 0 10px;
            font-size: 20px;
            line-height: 1.3;
            @extend %font-icon-style;
        }

        &:disabled,
        &:disabled:hover {
            color: #4d4d4d;
        }

        &:hover,
        &:focus {
            color: #A9A9A9;
        }

        &:first-child {
            &:before {
                content: '\f104';
            }
        }

        + .btn-nav {
            &:before {
                content: '\f105';
            }
        }
    }
}

// module Size controls
.header-size-controls {
    float: right;
    margin: 0 70px 0 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        position: relative;

        + li {
            margin-left: 13px;

            &:before {
                content: '';
                @include position(absolute, 0 null 0 -2px);
                width: 16px;
                height: 1px;
                margin: auto 0 auto -14px;
                background-color: $color-grey-dark;
            }
        }

        &:last-child {
            &:before {
                display: none;
            }
        }
    }

    button {
        position: relative;
        width: 32px;
        height: 32px;
        line-height: 1.2;
        padding: 0;
        background: $color-black;
        border: 1px solid $color-grey-dark;
        border-radius: 50%;
        color: #666666;
        font: {
            family: $font-secondary;
            weight: $weight-light;
            size: 14px;
        }
        text-align: center;
        z-index: 1;

        &.active,
        &:hover {
            border-color: $color-blue;
            color: $color-blue;
        }
    }

    .input-new-size {
        position: relative;
        width: 32px;
        height: 32px;
        border: 1px solid $color-grey-dark;
        color: transparent;
        font-size: 14px;
        border-radius: 50%;
        background-color: transparent;
        text-align: center;
        @include transition(width .3s ease);
        z-index: 1;

        &:focus {
            width: 64px;
            border-radius: 20px;
            border-color: $color-blue;
            color: $color-blue;
            text-align: left;
            padding: 0 22px 0 7px;

            ~ .dots {
                opacity: 0;
            }

            ~ .label-new-size {
                display: block;
            }
        }
    }

    .label-new-size {
        display: none;
        font-size: 14px;
        color: $color-blue;
        @include position(absolute, 5px 7px null null);
    }

    .dots {
        @include position(absolute, 0 0 0 null);
        width: 32px;
        height: 32px;
        line-height: 2;
        text-align: center;
        color: $color-grey-dark-secondary;
        opacity: 1;
        @include transition(all .2s ease);
        z-index: 0;
    }
}

.sg-snippets-controls {
    float: right;
    position: relative;

    .dropdown-list {
        right: 0;

        ul {
            &:before {
                left: auto;
                right: 10px;
                margin: 0;
            }
        }
    }
}

// module Dropdown list
.dropdown-list {
    max-height: 0;
    overflow: hidden;
    @include position(absolute, 45px null null null);
    background-color: $bg-dropdown;
    z-index: 10;
    @include transition(all .4s ease-out);

    &.active {
        max-height: 400px;
        overflow: visible;
    }

    ul {
        position: relative;
        margin: 0;
        padding: 20px 0;
        list-style: none;
        border-top: 2px solid $color-blue;

        &:before {
            content: '';
            @include position(absolute, -6px 0 null 0);
            margin: 0 auto;
            @include triangle(10px 4px, $color-blue, up);
        }
    }

    button {
        display: block;
        min-width: 100%;
        padding: 0 25px;
        background-color: transparent;
        border: none;
        white-space: nowrap;
        color: $text-secondary;
        text-align: left;

        &:hover {
            color: $color-blue;
        }
    }
}