article,
aside,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clearfix:after, .page-header-box .links-group:after, .features-content:after, .snippet-header-inner:after, .snippet-editor-content:after {
  clear: both;
  content: '';
  display: table;
  height: 0; }

.github-link:after, .btn-hide-code::after, .resize-control::before, .icon-folder:before, .icon-download:before, .icon-flag:before, .icon-chat:before, .icon-element:before, .icon-nodejs:before, .intro-section .typing-text::before, .section-title-number:before, .typing-text::before, .btn-show-code::after, .btn-show-code.active::after, .btn-show-code:hover::after, .btn-edit::before, .btn-edit.active::before, .btn-edit:hover::before, .snippet-resize-handle::before {
  background-image: url("images/sprite.svg");
  background-repeat: no-repeat;
  background-size: 137px 135px;
  display: inline-block; }

.ie8 .github-link:after, .ie8 .btn-hide-code::after, .ie8 .resize-control::before, .ie8 .icon-folder:before, .ie8 .icon-download:before, .ie8 .icon-flag:before, .ie8 .icon-chat:before, .ie8 .icon-element:before, .ie8 .icon-nodejs:before, .ie8 .intro-section .typing-text::before, .ie8 .section-title-number:before, .ie8 .typing-text::before, .ie8 .btn-show-code::after, .ie8 .btn-show-code.active::after, .ie8 .btn-show-code:hover::after, .ie8 .btn-edit::before, .ie8 .btn-edit.active::before, .ie8 .btn-edit:hover::before, .ie8 .snippet-resize-handle::before {
  background-image: url("images/sprite.png"); }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  color: #292929;
  font-size: 18px;
  font-style: normal;
  font-family: "Proxima Nova W01", sans-serif;
  font-weight: 400;
  line-height: 1.66667;
  min-width: 320px;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 1024px) {
    body {
      -webkit-text-size-adjust: 100%; } }

iframe {
  border: 0;
  height: auto;
  margin: 0;
  width: 100%; }

.page-header-holder {
  background-color: #fff; }
  .page-header-holder .page-frame {
    max-width: 1440px; }
  .page-header-holder.fixed {
    box-shadow: 0 -1px 9px 1px rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 1025px) {
    .page-header-holder {
      position: fixed;
      top: -85px;
      right: 0;
      left: 0;
      z-index: 10; }
      .page-header-holder:before {
        content: '';
        display: block;
        height: 85px; } }

.page-header {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .page-header-box {
    display: table-cell;
    height: 70px;
    vertical-align: middle; }
    .page-header-box .links-group a {
      display: block;
      float: left; }
      .page-header-box .links-group a + a {
        margin-left: 20px; }
  @media screen and (min-width: 769px) {
    .page-header-box .links-group a + a {
      margin-left: 30px; } }
  @media screen and (min-width: 601px) {
    .page-header-box {
      height: 85px; } }
  @media screen and (max-width: 600px) {
    .page-header-box:first-child {
      display: none; }
    .page-header-box:last-child {
      display: none; } }

.logo-holder {
  margin: 0; }
  .logo-holder img {
    display: block;
    margin: 0 auto; }
  @media screen and (min-width: 1025px) {
    .logo-holder {
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      transition: opacity 0.5s;
      opacity: 0; }
      .logo-holder.home-logo-is-invisible {
        opacity: 1; } }

.github-link {
  display: inline-block;
  min-height: 26px;
  padding-left: 32px; }
  .github-link:after {
    width: 27px;
    height: 26px;
    background-position: -108px -50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: ''; }
  @media screen and (min-width: 1025px) {
    .github-link:before {
      left: 32px;
      width: auto; } }

.noscript-message {
  background-color: #fff1bb;
  font-size: 16px;
  padding: 3px;
  text-align: center;
  z-index: 2147483647; }

.page-frame {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px; }
  @media screen and (min-width: 481px) {
    .page-frame {
      padding: 0 30px; } }

.align-right {
  text-align: right; }

@media screen and (max-width: 920px) {
  .hide-on-920 {
    display: none; } }

@media screen and (max-width: 768px) {
  .hide-on-768 {
    display: none; } }

[disabled] {
  cursor: not-allowed; }

.btn-hide-code {
  background: none;
  border: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 2.14286;
  margin: 0;
  padding: 0 30px 0 0;
  position: relative; }
  .btn-hide-code::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 19px;
    height: 12px;
    background-position: -34px -99px;
    content: '';
    margin: auto 0; }
  .btn-hide-code.active {
    color: #3381ff; }

.resize-control {
  height: 50px;
  width: 2px;
  background-color: #d8d8d8;
  border: 0;
  font-size: 0;
  margin: 0 0 0 10px;
  padding: 0;
  position: relative; }
  .resize-control::before {
    width: 4px;
    height: 20px;
    background-position: -99px -48px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    content: '';
    margin: auto 0; }
  .resize-control:focus {
    outline: 0; }
  .resize-control.pos-right {
    margin-left: 0;
    margin-right: 10px; }
    .resize-control.pos-right:before {
      left: auto;
      right: -10px; }

.btn {
  background-color: #fff;
  border: 0;
  border-radius: 50px;
  color: #29aae2;
  display: inline-block;
  font-family: "Proxima Nova W01", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 31px;
  line-height: 1.72222;
  padding: 0 20px; }

.btn-link {
  background: none;
  border: 0;
  color: #fff;
  display: inline-block;
  font-family: "Proxima Nova W01", sans-serif;
  font-size: 18px;
  font-weight: 400; }

a {
  color: #292929;
  font-weight: 500;
  position: relative;
  text-decoration: none; }
  @media screen and (min-width: 1025px) {
    a:before {
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0);
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      -webkit-transition: all 0.25s ease-in-out 0s;
      -moz-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s;
      background-color: #292929;
      content: '';
      visibility: hidden; }
    a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); } }

h2,
.heading2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  margin: 30px 0; }

h3,
.heading3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 0 25px; }

img {
  max-width: 100%; }

.icon-folder:before {
  width: 26px;
  height: 23px;
  background-position: -108px -76px;
  content: '';
  display: inline-block; }

.icon-download:before {
  width: 24px;
  height: 24px;
  background-position: -38px -72px;
  content: '';
  display: inline-block; }

.icon-flag:before {
  width: 29px;
  height: 29px;
  background-position: -108px 0px;
  content: '';
  display: inline-block; }

.icon-chat:before {
  width: 28px;
  height: 21px;
  background-position: -108px -29px;
  content: '';
  display: inline-block; }

.icon-element:before {
  width: 22px;
  height: 22px;
  background-position: -62px -72px;
  content: '';
  display: inline-block; }

.icon-nodejs:before {
  width: 43px;
  height: 48px;
  background-position: -65px 0px;
  content: '';
  display: inline-block; }

.intro-section {
  background: url("../styles/images/bg-intro.jpg") 0 0;
  color: #fff;
  margin-bottom: 46px;
  padding-top: 46px;
  text-align: center; }
  .intro-section .subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.20833;
    margin: 0;
    padding: 20px 0 40px; }
  .intro-section .img-holder {
    margin: 0; }
    .intro-section .img-holder img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }
  .intro-section .typing-text {
    display: inline-block;
    font-size: 15px;
    line-height: 1.66667;
    margin-bottom: 40px;
    min-height: 27px;
    padding-left: 55px;
    text-align: left; }
    .intro-section .typing-text::before {
      width: 38px;
      height: 27px;
      background-position: 0px -72px; }
  .intro-section .blink-cursor {
    height: 19px; }
  @media screen and (min-width: 1025px) {
    .intro-section {
      -webkit-animation: animatedBackground 11s linear infinite;
      -moz-animation: animatedBackground 11s linear infinite;
      animation: animatedBackground 11s linear infinite;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; } }
  @media screen and (min-width: 601px) {
    .intro-section {
      margin-bottom: 135px; }
      .intro-section .typing-text {
        font-size: 22px;
        line-height: 1.22727;
        margin-bottom: 140px; } }
  @media screen and (min-width: 769px) {
    .intro-section {
      padding-top: 140px; }
      .intro-section .subtitle {
        font-size: 48px;
        padding: 35px 0 80px; } }
  @media screen and (min-width: 601px) and (max-width: 768px) {
    .intro-section {
      padding-top: 100px; }
      .intro-section .subtitle {
        font-size: 30px; }
      .intro-section .typing-text {
        margin-bottom: 110px; } }
  @media screen and (max-width: 320px) {
    .intro-section .typing-text {
      box-sizing: border-box;
      line-height: 1.1;
      width: 270px; }
      .intro-section .typing-text:before {
        bottom: 0;
        margin: auto 0;
        top: 0; } }

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 100%; } }

@-moz-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 100%; } }

@keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 100%; } }

.intro-logo-holder {
  margin: 0 auto; }
  @media screen and (max-width: 600px) {
    .intro-logo-holder {
      max-width: 280px; } }
  @media screen and (min-width: 769px) {
    .intro-logo-holder {
      max-width: 400px; } }
  @media screen and (max-width: 320px) {
    .intro-logo-holder {
      max-width: 210px; } }

.text-section {
  text-align: center; }
  .text-section-holder {
    margin: 40px auto 0;
    max-width: 597px;
    opacity: .5; }
    .text-section-holder p {
      font-weight: 300;
      margin: 0; }
  @media screen and (max-width: 600px) {
    .text-section p {
      font-size: 15px;
      line-height: 1.6; }
    .text-section-holder {
      margin-top: 50px; } }

.section-title {
  padding-bottom: 20px;
  position: relative; }
  .section-title::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 70px;
    background-color: #292929;
    content: '';
    margin: 0 auto; }
  .section-title h2 {
    margin: 0; }
  .section-title-number {
    height: 72px;
    width: 65px;
    color: #3381ff;
    display: inline-block;
    font-family: "Trump Gothic W01 East", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 3;
    margin-bottom: 20px;
    position: relative;
    text-align: center; }
    .section-title-number:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 65px;
      height: 72px;
      background-position: 0px 0px;
      content: '';
      margin: auto; }
  @media screen and (max-width: 600px) {
    .section-title h2 {
      font-size: 24px; } }
  @media screen and (min-width: 601px) {
    .section-title {
      margin-bottom: 30px; }
      .section-title-number {
        margin-bottom: 30px; } }

.example-section {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative; }
  .example-section-box:first-child {
    background-color: #f4f4f5; }
  .example-section-box:last-child {
    background-color: #2d3335; }
  .example-section.additional-space-top {
    margin-top: 60px; }
  .example-section.additional-space-bottom {
    margin-bottom: 60px; }
  @media screen and (min-width: 731px) and (max-width: 921px) {
    .example-section-box:first-child {
      padding-right: 20px;
      width: 50%; }
    .example-section-box:last-child {
      width: 50%; } }
  @media screen and (min-width: 731px) {
    .example-section:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 40%;
      background-color: #2d3335;
      content: '';
      z-index: -1; }
    .example-section:before {
      position: absolute;
      top: 0;
      right: 70%;
      bottom: 0;
      left: 0;
      background-color: #f4f4f5;
      content: '';
      z-index: -1; }
    .example-section-inner {
      display: table;
      table-layout: fixed;
      width: 100%; }
    .example-section-box {
      box-sizing: border-box;
      display: table-cell;
      vertical-align: middle; } }
  @media screen and (max-width: 730px) {
    .example-section-box {
      margin: 0 -30px; }
      .example-section-box:first-child {
        padding: 0 30px; }
      .example-section-box:last-child {
        padding: 0 15px; } }
  @media screen and (min-width: 921px) {
    .example-section-box:first-child {
      width: 60%; }
    .example-section-box:last-child {
      width: 40%; } }
  @media screen and (min-width: 601px) {
    .example-section.additional-space-top {
      margin-top: 120px; }
    .example-section.additional-space-bottom {
      margin-bottom: 150px; } }
  @media screen and (max-width: 480px) {
    .example-section-box {
      margin: 0 -20px; }
      .example-section-box:first-child {
        padding: 0 20px; }
      .example-section-box:last-child {
        padding: 0 5px; } }

.font-example-content {
  font-family: "Playfair Display", serif;
  padding-bottom: 60px; }
  .font-example-content p {
    font-family: inherit;
    line-height: 1.36364;
    margin: 0; }
  .font-example-content .family-example-title {
    display: block;
    font-family: inherit;
    font-size: 150px;
    line-height: 1.13333; }
  @media screen and (max-width: 730px) {
    .font-example-content {
      margin: 0 auto;
      max-width: 420px; } }
  @media screen and (max-width: 480px) {
    .font-example-content {
      max-width: 200px; } }

.color-palette-holder {
  padding: 89px 0; }
  @media screen and (min-width: 731px) {
    .color-palette-holder {
      padding: 100px 0 84px; } }

.color-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  color: #fff;
  height: 213px;
  position: relative;
  text-align: center; }
  .color-box:last-child {
    margin-right: 0; }
  .color-box > span {
    position: absolute;
    right: 10px;
    bottom: 12px;
    left: 10px;
    font-size: 14px;
    line-height: 1.21429; }
  @media screen and (min-width: 769px) and (max-width: 921px) {
    .color-box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .color-box:last-child {
        margin-right: 0; }
      .color-box:nth-child(4) {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .color-box:nth-child(3) {
      margin-right: 0; }
    .color-box.hide-on-768 {
      display: none; } }
  @media screen and (min-width: 731px) {
    .color-box {
      height: 200px; } }
  @media screen and (max-width: 920px) {
    .color-box.hide-on-920 {
      display: none; } }
  @media screen and (min-width: 921px) {
    .color-box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .color-box:last-child {
        margin-right: 0; } }

.code-box pre[class*="language-"],
.code-box code[class*="language-"] {
  font-family: "Proxima Nova W01", sans-serif;
  font-size: 15px;
  font-weight: 300; }

.code-box pre[class*="language-"] {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0; }

.code-box code[class*="language-"] {
  color: #2dd1ff;
  line-height: 2;
  text-shadow: none; }

.code-box .line-numbers.dimmed {
  opacity: .15; }
  .code-box .line-numbers.dimmed:first-of-type {
    margin-bottom: -2em; }
  .code-box .line-numbers.dimmed:last-of-type {
    margin-top: -2em; }

.code-box .line-numbers .line-numbers-rows {
  border-right: 0;
  letter-spacing: 0;
  top: -4px; }

.code-box .line-numbers-rows > span:before {
  color: #fff; }

.code-box .token.variable {
  color: #fea520; }

.code-box .token.string {
  color: #f6dc44; }

.code-box .token.punctuation {
  color: #fff; }

.code-box .token.comment {
  color: #35a8ff; }

.code-box .language-markup code[class*="language-"] {
  color: #fff; }

.code-box .language-markup .token.tag {
  color: #a1b4c1; }
  .code-box .language-markup .token.tag .punctuation {
    color: inherit; }

.code-box .language-markup .token.attr-name {
  color: #5ed4ba; }

.code-box .language-markup .token.attr-value {
  color: #f6dc44; }
  .code-box .language-markup .token.attr-value .punctuation {
    color: inherit; }

.features-content {
  display: block;
  padding: 60px 0 20px; }
  .features-content-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding-bottom: 55px; }
    .features-content-box:last-child {
      margin-right: 0; }
    .features-content-box h3 {
      line-height: 1;
      margin-bottom: 10px; }
    .features-content-box p {
      font-size: 15px;
      line-height: 1.53333;
      margin: 0;
      opacity: .5; }
  @media screen and (min-width: 651px) {
    .features-content {
      padding-top: 90px; }
      .features-content-box {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        padding-bottom: 80px; }
        .features-content-box:last-child {
          margin-right: 0; }
        .features-content-box p {
          font-size: 16px;
          line-height: 1.4375; }
        .features-content-box h3 {
          margin-bottom: 25px; } }
  @media screen and (min-width: 481px) and (max-width: 650px) {
    .features-content-box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .features-content-box:last-child {
        margin-right: 0; }
      .features-content-box:nth-child(2n) {
        margin-right: 0; }
      .features-content-box:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 481px) {
    .features-content .icon {
      display: block;
      height: 29px;
      margin-bottom: 8px; } }

.installation-section {
  background: url("../styles/images/bg-installation.jpg") no-repeat center bottom fixed;
  background-size: cover;
  color: #fff;
  padding: 50px 0 60px; }
  @media screen and (min-width: 961px) {
    .installation-section {
      background-position-x: left; } }
  @media screen and (min-width: 601px) {
    .installation-section {
      padding: 55px 0 150px; } }

.installation-intro-text {
  margin: 0 auto;
  max-width: 845px;
  padding-bottom: 60px;
  text-align: center; }
  .installation-intro-text h2 {
    margin-top: 0; }
  .installation-intro-text p {
    font-weight: 300;
    margin-top: 0; }
  @media screen and (min-width: 601px) {
    .installation-intro-text {
      padding-bottom: 120px; } }
  @media screen and (max-width: 600px) {
    .installation-intro-text h2 {
      font-size: 24px;
      line-height: 1.20833; }
    .installation-intro-text p {
      font-size: 15px;
      line-height: 1.6;
      opacity: .45; } }

.installation-additional-text {
  padding-bottom: 25px; }
  .installation-additional-text > span {
    display: inline-block;
    font-weight: 300;
    vertical-align: middle; }
  .installation-additional-text .icon-nodejs {
    margin-left: 10px;
    vertical-align: middle; }
  @media screen and (min-width: 601px) {
    .installation-additional-text {
      padding-bottom: 85px;
      text-align: right; } }

.installation-process {
  list-style: none;
  margin: 0 auto;
  max-width: 545px;
  padding: 0; }
  .installation-process li {
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-left: 40px;
    position: relative; }
    .installation-process li::before {
      position: absolute;
      top: 7px;
      left: 0;
      height: 14px;
      width: 14px;
      border: #fff solid 2px;
      border-radius: 50%;
      box-sizing: border-box;
      content: ''; }
    .installation-process li::after {
      position: absolute;
      top: 25px;
      bottom: 100%;
      left: 6px;
      -webkit-transition: bottom 0.5s ease;
      -moz-transition: bottom 0.5s ease;
      transition: bottom 0.5s ease;
      background-color: #fff;
      content: '';
      width: 2px; }
    .installation-process li:first-child::after {
      -webkit-transition-delay: 1.9s;
      -moz-transition-delay: 1.9s;
      transition-delay: 1.9s; }
    .installation-process li:nth-child(2) {
      -webkit-transition-delay: 2s;
      -moz-transition-delay: 2s;
      transition-delay: 2s; }
      .installation-process li:nth-child(2)::after {
        -webkit-transition-delay: 2.4s;
        -moz-transition-delay: 2.4s;
        transition-delay: 2.4s; }
    .installation-process li:last-child {
      -webkit-transition-delay: 2.5s;
      -moz-transition-delay: 2.5s;
      transition-delay: 2.5s; }
      .installation-process li:last-child::after {
        display: none; }
    .installation-process li + li {
      margin-top: 40px;
      opacity: 0; }
    .installation-process li.animate {
      opacity: 1; }
      .installation-process li.animate::after {
        bottom: -43px; }
      .installation-process li.animate .typing-text {
        opacity: 1; }
  .installation-process .typing-text {
    margin-top: 20px; }
  @media screen and (min-width: 601px) {
    .installation-process .typing-text {
      margin: 25px 0 0 50px; } }
  @media screen and (max-width: 600px) {
    .installation-process li {
      font-size: 16px; }
      .installation-process li:after {
        opacity: .2; } }

.gulp-task-definition {
  margin: 10px 0 0; }
  .gulp-task-definition code {
    color: #fecd08;
    display: block;
    font-family: "Proxima Nova W01", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
    overflow: auto;
    white-space: pre;
    word-wrap: normal; }
  @media screen and (min-width: 601px) {
    .gulp-task-definition {
      margin-left: 30px; }
      .gulp-task-definition code {
        font-size: 15px; } }

.blink-cursor {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  background-color: #3381ff;
  display: inline-block;
  font-size: 0;
  height: 17px;
  vertical-align: middle;
  width: 6px; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.typing-text {
  color: #3381ff;
  line-height: 1.22222;
  min-height: 23px;
  opacity: 0;
  padding-left: 45px;
  position: relative;
  white-space: normal; }
  .typing-text::before {
    width: 34px;
    height: 23px;
    background-position: -65px -48px;
    position: absolute;
    top: -1px;
    left: 0;
    content: ''; }
  .typing-text.animate {
    opacity: 1; }
  @media screen and (max-width: 600px) {
    .typing-text {
      font-size: 14px; } }
  @media screen and (min-width: 601px) {
    .typing-text {
      white-space: nowrap; } }

.snippet-section .page-frame {
  max-width: 920px; }

@media screen and (min-width: 769px) {
  .snippet-section {
    margin-bottom: 70px; } }

@media screen and (min-width: 601px) and (max-width: 768px) {
  .snippet-section {
    margin-bottom: 30px; } }

.snippet-header {
  border: #cdcccc solid;
  border-width: 1px 0;
  margin-top: 75px; }
  .snippet-header-inner {
    display: block;
    padding: 0 15px;
    position: relative; }
  @media screen and (min-width: 769px) {
    .snippet-header-inner {
      padding: 0 100px; } }
  @media screen and (min-width: 601px) and (max-width: 768px) {
    .snippet-header-inner {
      padding: 0 50px; } }

.snippet-size {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  color: #010101;
  font-size: 14px;
  line-height: 3.21429;
  z-index: -1; }
  @media screen and (min-width: 769px) {
    .snippet-size {
      left: 100px;
      right: 100px;
      text-align: center; } }
  @media screen and (min-width: 601px) and (max-width: 768px) {
    .snippet-size {
      left: 50px;
      right: 50px; } }
  @media screen and (max-width: 600px) {
    .snippet-size {
      display: none; } }

.snippet-code-preview {
  background-color: #fff;
  border-radius: 4px;
  display: block;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  height: 162px;
  margin: 0;
  padding: 10px;
  white-space: pre;
  word-wrap: normal; }

.snippet-controls {
  float: right; }
  .snippet-controls .btn-show-code,
  .snippet-controls .btn-edit {
    vertical-align: top; }

.btn-show-code {
  background: none;
  border: #cdcccc solid;
  border-width: 0 1px;
  color: #989898;
  display: inline-block;
  font-size: 13px;
  height: 45px;
  padding: 0 17px; }
  .btn-show-code::after {
    width: 19px;
    height: 12px;
    background-position: -34px -99px;
    content: '';
    margin-left: 14px; }
  .btn-show-code.active {
    position: relative; }
    .btn-show-code.active::after {
      width: 19px;
      height: 12px;
      background-position: -15px -99px; }
    .btn-show-code.active::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0;
      border-bottom: 5px solid #29aae2;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: '';
      margin: 0 auto; }
  .btn-show-code:focus {
    outline: none; }
  @media screen and (min-width: 1025px) {
    .btn-show-code:hover::after {
      width: 19px;
      height: 12px;
      background-position: -15px -99px; } }

.btn-edit {
  background: none;
  border: #cdcccc solid;
  border-width: 0 1px 0 0;
  display: inline-block;
  font-size: 0;
  height: 45px;
  padding: 0 12px; }
  .btn-edit::before {
    width: 15px;
    height: 20px;
    background-position: 0px -99px;
    content: '';
    vertical-align: middle; }
  .btn-edit.active {
    position: relative; }
    .btn-edit.active::before {
      width: 15px;
      height: 20px;
      background-position: -84px -72px; }
    .btn-edit.active::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0;
      border-bottom: 5px solid #29aae2;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: '';
      margin: 0 auto; }
  .btn-edit:focus {
    outline: none; }
  @media screen and (min-width: 1025px) {
    .btn-edit:hover::before {
      width: 15px;
      height: 20px;
      background-position: -84px -72px; } }

.snippet-preview {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 20px;
  position: relative; }
  @media screen and (min-width: 601px) {
    .snippet-preview {
      padding-left: 10px;
      padding-right: 10px; } }
  @media screen and (max-width: 600px) {
    .snippet-preview {
      margin: 0 auto;
      max-width: 320px; } }

.snippet-resize-handle {
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  box-sizing: border-box;
  cursor: w-resize;
  height: 100px;
  margin-top: -50px;
  width: 30px; }
  .snippet-resize-handle::before {
    width: 10px;
    height: 16px;
    background-position: 0px -119px;
    position: absolute;
    top: 50%;
    content: '';
    margin-top: -8px; }
  .snippet-resize-handle.pos-left {
    border-right: #cdcccc solid 1px;
    left: -30px; }
    .snippet-resize-handle.pos-left::before {
      left: 0; }
  .snippet-resize-handle.pos-right {
    border-left: #cdcccc solid 1px;
    right: -30px; }
    .snippet-resize-handle.pos-right::before {
      right: 0; }
  @media screen and (min-width: 1025px) {
    .snippet-resize-handle {
      opacity: 0;
      visibility: hidden; }
      .snippet-section:hover .snippet-resize-handle {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        visibility: visible; }
      .snippet-resize-handle.pos-left {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px); }
      .snippet-resize-handle.pos-right {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px); } }
  @media screen and (max-width: 600px) {
    .snippet-resize-handle {
      display: none; } }

.snippet-editor {
  background-color: #eaeaea;
  border-top: solid 2px #29aae2; }
  .snippet-editor-content {
    padding-bottom: 26px;
    padding-top: 30px; }
  .snippet-editor-title {
    color: #2d3335;
    font-size: 14px;
    padding-bottom: 5px; }
    .snippet-editor-title sup {
      color: #f76cb5;
      font-size: 14px;
      top: -2px; }
  .snippet-editor-controls {
    background-color: #29aae2;
    padding-bottom: 15px;
    padding-top: 15px; }
    .snippet-editor-controls .btn-link {
      margin-left: 15px;
      vertical-align: middle; }
  @media screen and (min-width: 769px) {
    .snippet-editor-content {
      padding-left: 35px;
      padding-right: 35px; } }
  @media screen and (max-width: 768px) {
    .snippet-editor-content {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 601px) {
    .snippet-editor-content {
      display: block; }
    .snippet-editor-col {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .snippet-editor-col:last-child {
        margin-right: 0; }
    .snippet-editor-controls {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 600px) {
    .snippet-editor-col + .snippet-editor-col {
      margin-top: 30px; }
    .snippet-editor-controls {
      padding-left: 20px;
      padding-right: 20px; } }

.snippet-source.resize-overlay {
  pointer-events: none;
  position: relative; }

.snippet-content {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 0;
  margin-top: -1px;
  pointer-events: none;
  visibility: hidden; }
  .snippet-content-inner {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden; }
  .snippet-content.active {
    height: auto;
    pointer-events: all;
    visibility: visible; }
    .snippet-content.active .snippet-content-inner {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      height: auto;
      opacity: 1;
      visibility: visible; }

@media screen and (min-width: 601px) {
  .categories-img-holder {
    margin-top: 60px; } }

@media screen and (max-width: 600px) {
  .categories-img-holder {
    display: none; } }

.editor-container {
  height: 162px; }
  .editor-container.ace-github {
    border-radius: 4px;
    font-size: 12px; }
    .editor-container.ace-github .ace_gutter {
      background: none;
      color: #989898; }

/*# sourceMappingURL=site-styles.css.map */
