%btn-template {
	display: inline-block;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	
	&:hover {
		text-decoration: none;
	}
}

$btn-ghost-radius: $border-radius;

.btn-ghost {
	@extend %btn-template;
	background-color: transparent;
	border: 1px solid rgba($color-white, .6);
	border-radius: $btn-ghost-radius;
	color: $color-white;
	
	&[type=text] {
		width: 56px;
	}
	
	.fa-angle-left,
	.fa-angle-right {
		font-size: 21px;
	}
	
	.fa-desktop,
	.fa-tablet,
	.fa-mobile {
		font-size: 17px;
	}
	
	.fa-plus,
	.fa-list {
		font-size: 15px;
	}
}

.btn-ghost-group {
	@extend %clearfix;
	display: inline-block;
	vertical-align: middle;
	
	.btn-ghost {
		border-radius: 0;
		float: left;
		margin-left: -1px;
		
		&:first-child {
			border-radius: $btn-ghost-radius 0 0 $btn-ghost-radius;
			margin-left: 0;
		}
		
		&:last-child {
			border-radius: 0 $btn-ghost-radius $btn-ghost-radius 0;
		}
	}
}
