.header {
	@extend %clearfix;
	background: $color-black;
	color: $color-white;
	padding: 12px 0;
	
	h1,
	h2 {
		font-size: 24px;
		font-weight: 300;
		height: 28px;
		line-height: 1;
	}
	
	h1 {
		float: left;
		margin-right: 24px;
	}
}

.header-nav {
	float: left;
	position: relative;
	
	h2 {
		border-left: 1px solid $color-white;
		display: inline-block;
		margin: 0 24px 0 0;
		opacity: .6;
		padding: 0 0 0 12px;
		vertical-align: middle;
		
		&:hover + .dropdown {
			display: block;
		}
	}
	
	.dropdown {
		background: $color-black;
		border: 1px solid $color-white;
		border-radius: $border-radius;
		display: none;
		left: -2px;
		padding: 6px 8px;
		position: absolute;
		top: 0;
		width: 154px;
		
		a {
			color: $color-white;
			display: block;
			text-decoration: none;
		}
		
		a:hover {
			text-decoration: underline;
		}
		
		&:hover {
			display: block;
		}
	}
}

.header-size-controls {
	margin: 0 auto;
	text-align: center;
	width: 200px;
	
	.btn-ghost {
		min-width: 42px;
	}
}

.header-snippets-controls {
	float: right;
}
