@import 'bourbon';
@import 'icons/sassvg.scss';

@import 'core/normalize';
@import 'core/variables';
@import 'core/mixins';

@import 'components/helpers';
@import 'components/grid';
@import 'components/snippet';
@import 'components/snippet-new';
@import 'components/modal';

@import 'site/_layout'; 
@import 'site/_modules';
@import 'site/views/header';
@import 'site/views/footer';
@import 'site/views/general-page';
@import 'site/views/categories';
