<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Styleguide</title>
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="content/main.css">
</head>
<body>
<div class="page-container">
    <div class="sg-header">
        <div class="page-wrapper clearfix">
            <span class="sg-title">Styleguide</span>
            <nav class="sg-header-nav js-navigation">
                <button class="subtitle js-current-page js-open-dropdown">Components</button>

                <div class="dropdown-list js-dropdown-list">
                    <ul class="js-navigation-list"></ul>
                </div>
                <div class="btn-nav-group">
                    <button class="btn-nav js-prev-cat" type="button" title="Previous">Previous</button>
                    <button class="btn-nav js-next-cat" type="button" title="Next">Next</button>
                </div>
            </nav>

            <div class="sg-snippets-controls">
                <button class="btn-menu js-open-dropdown" type="button" title="Menu">Menu</button>
                <div class="dropdown-list js-dropdown-list">
                    <ul>
                        <li>
                            <button class="js-header-new-snippet" type="button">New snippet</button>
                        </li>
                        <li>
                            <button class="js-scrape-snipp" type="button">Scrape snippets</button>
                        </li>
                        <li>
                            <button class="js-scrape-sass" type="button">Scrape Scss</button>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="header-size-controls js-snippet-resize-controls">
                <li>
                    <button class="js-mobile" type="button" title="Mobile">480</button>
                <li>
                    <button class="js-tablet" type="button" title="Tablet">768</button>
                </li>
                <li>
                    <button class="js-desktop" type="button" title="Desktop">1200</button>
                </li>
                <li>
                    <input class="input-new-size js-custom" type="text" title="Custom" value="">
                    <span class="label-new-size">px</span>
                    <span class="dots">...</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="sg-snippet-form js-new-snippet-form" style="display: none;">
        <div class="page-wrapper">
            <form class="js-create-snippet" action="/snippets">
                <div class="clearfix sg-form-title">New Snippet</div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="form-row">
                            <label for="new-name">Name: <sub>*</sub></label>
                            <input type="text" id="new-name" class="field-text js-form-submit-field"
                                   data-js-field-name="name"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="form-row">
                            <label for="new-category">Category: <sub>*</sub></label>
                            <select id="new-category" required
                                    class="field-select js-form-submit-field js-form-select"
                                    data-js-field-name="category" required>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="form-row">
                            <label for="new-description">Desciption:</label>
                        <textarea id="new-description" class="field-textarea js-form-submit-field"
                                  data-js-field-name="description"></textarea>
                        </div>

                        <div class="checkbox-wrapper tooltip-wrapper">
                            <label for="new-include-js">
                                <input type="checkbox" id="new-include-js" class="field-checkbox">
                                <span class="fake-box"></span>
                                Include Javascript
                            </label>
                            <span class="tooltip">
                                <span class="tooltip-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non turpis in neque molestie consequat eu ac mi.</span>
                            </span>
                        </div>
                    </div>

                    <div class="medium-4 columns">
                        <div class="form-row">
                            <label>Code: <sub>*</sub></label>

                            <div class="sg-editor-holder">
                                <div id="jsNewCode" class="editor-view"></div>
                                <button class="btn-full-screen js-toggle-code-editor-full-screen"
                                        title="Toggle full screen">Toggle full screen
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="medium-4 columns end">
                        <div class="form-row">
                            <div class="tooltip-pos-right clearfix">
                                <label>Inline CSS:</label>
                                <span class="tooltip pos-right">
                                    <span class="tooltip-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non turpis in neque molestie consequat eu ac mi.</span>
                                </span>
                            </div>

                            <div class="sg-editor-holder">
                                <div id="jsNewCss" class="editor-view"></div>
                                <button class="btn-full-screen js-toggle-css-editor-full-screen"
                                        title="Toggle full screen">Toggle full screen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row sg-controls-row">
                    <div class="medium-6 columns">
                        <button class="btn-primary" type="submit">Create</button>
                        <button class="btn-blank js-new-snippet-cancel" type="button">Cancel</button>
                    </div>
                    <div class="medium-6 columns text-right">
                        <sub>*</sub> Mandatory fields
                    </div>
                </div>
            </form>
        </div>
    </div>

    <nav class="sg-home-navigation js-home-navigation">
        <div class="page-wrapper">
            <ul class="js-navigation-list clearfix"></ul>
        </div>
    </nav>

    <div class="main">

    </div>
</div>

<div class="sg-footer">
    <div class="page-wrapper clearfix">
        <div class="pull-left sg-footer-info-box">
            <a href="https://github.com/devbridge/Styleguide" target="_blank">
                <img src="content/logo-github.svg" alt="Styleguide github">
            </a>
            <a href="https://www.npmjs.com/package/devbridge-styleguide" target="_blank">
                <img src="content/logo-npm.svg" alt="Stleguide npm">
            </a>
        </div>
        <div class="pull-right">
            <a href="http://www.devbridge.com/" target="_blank" class="sg-powered-by">Powered by Devbridge</a>
        </div>
    </div>
</div>

<script type="text/html" id="snippet">
    <div class="snippet js-snippet">
        <div class="sg-snippet-header">
            <div class="page-wrapper clearfix">
                <span class="sg-snippet-title js-snippet-name">Snippet Name</span>
                <span class="sg-snippet-size js-snippet-size">1200px</span>

                <div class="sg-header-controls pull-right">
                    <button class="btn-show-code js-snippet-code-btn" type="button">Show code</button>
                    <button class="btn-edit js-snippet-settings-btn" type="button" title="Edit snippet">Edit snippet
                    </button>
                </div>
            </div>
        </div>
        <div class="sg-snippet-code-container js-snippet-code" style="display: none;">
            <div class="page-wrapper">
                <div class="sg-snippet-code-holder">
                    <div class="sg-snippet-code">
                        <button class="btn-blank js-copy-code">Copy</button>
                        <code class="sg-code-preview js-snippet-code-preview">code preview</code>
                    </div>

                    <div class="sg-code-description">
                        <span>Description:</span>
                        <p class="js-snippet-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda alias, voluptatibus quasi
                            ipsam quas ipsa tenetur pariatur velit cum reprehenderit optio perferendis ad labore ea, porro?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="snippet-settings js-snippet-settings" style="display: none;">
            <section class="sg-snippet-form sg-edit-snippet-form">
                <div class="page-wrapper">
                    <form class="js-edit-snippet">
                        <div class="clearfix sg-form-title">Edit Snippet</div>
                        <div class="row">
                            <div class="medium-4 columns">
                                <div class="form-row">
                                    <label for="edit-name">Name: <sub>*</sub></label>
                                    <input type="text" id="edit-name" class="field-text js-form-submit-field"
                                           data-js-field-name="name" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-4 columns">
                                <div class="form-row">
                                    <label for="edit-category">Category: <sub>*</sub></label>
                                    <select id="edit-category" required
                                            class="field-select js-form-submit-field js-form-select"
                                            data-js-field-name="category" required>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-4 columns">
                                <div class="form-row">
                                    <label for="edit-description">Description:</label>
                                <textarea id="edit-description" class="field-textarea js-form-submit-field"
                                          data-js-field-name="description"></textarea>
                                </div>

                                <div class="checkbox-wrapper tooltip-wrapper">
                                    <label for="edit-included-js">
                                        <input type="checkbox" id="edit-included-js" class="field-checkbox">
                                        <span class="fake-box"></span>
                                        Include JavaScripts
                                    </label>
                                    <span class="tooltip">
                                        <span class="tooltip-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non turpis in neque molestie consequat eu ac mi.</span>
                                    </span>
                                </div>
                            </div>

                            <div class="medium-4 columns">
                                <div class="form-row">
                                    <label>Code: <sub>*</sub></label>

                                    <div class="sg-editor-holder">
                                        <div class="editor-view js-edit-code"></div>
                                        <button class="btn-full-screen js-toggle-code-full-screen" type="button">Toggle
                                            Full Screen
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="medium-4 columns end">
                                <div class="form-row">
                                    <div class="tooltip-pos-right clearfix">
                                        <label>Inline CSS</label>
                                        <span class="tooltip pos-right">
                                            <span class="tooltip-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non turpis in neque molestie consequat eu ac mi.</span>
                                        </span>
                                    </div>

                                    <div class="sg-editor-holder">
                                        <div class="editor-view js-edit-css"></div>
                                        <button class="btn-full-screen js-toggle-css-full-screen" type="button">Toggle
                                            Full Screen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row sg-controls-row">
                            <div class="medium-6 columns">
                                <button class="btn-primary" type="submit">Update</button>
                                <button class="btn-blank js-btn-cancel" type="button">Cancel</button>
                            </div>
                            <div class="medium-6 columns text-right">
                                <button class="btn-with-icon icon-delete js-delete-snippet" type="button">Delete
                                    Snippet
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="sg-snippet-preview js-snippet-preview" style="width: 1200px;">
            <div class="sg-snippet-source js-snippet-source">
                <div class="made-up-snippet-example">
                    <h2>Example snippet with long heading Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Asperiores unde eveniet, non.</h2>

                    <div style="border: 1px solid #bada55;">
                        Some sort of content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eaque
                        deleniti qui perspiciatis tempora.
                    </div>
                </div>
            </div>
            <div class="sg-snippet-resize-handle pos-left js-snippet-resize-handle-left"
                 draggable="true"></div>
            <div class="sg-snippet-resize-handle pos-right js-snippet-resize-handle-right"
                 draggable="true"></div>
        </div>
    </div>
</script>

<script type="text/html" id="sass-page">
    <div class="sg-intro-container">
        <div class="page-wrapper">
            <div class="sg-intro-row">
                <div class="sg-intro-box">
                    <span class="sg-intro-title">Styleguide</span>

                    <p class="sg-intro-description">
                        A set of visual elements and guidelines <br>
                        for <a href="#nolink">project name</a> project.
                    </p>
                </div>

                <div class="sg-intro-box">
                    <figure>
                        <img src="content/your-logo.png" alt="Your logo">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="snippet">
        <header class="sg-snippet-header">
            <div class="page-wrapper">
                <span class="sg-snippet-title">Colors</span>
            </div>
        </header>
        <div class="sg-colors-container">
            <ul class="sg-colors-holder js-snippet-colors">
                <li class="js-color-box">
                    <span class="sg-color-box" style="background: #000;"></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="snippet">
        <div class="sg-snippet-header">
            <div class="page-wrapper">
                <span class="sg-snippet-title">Fonts</span>
            </div>
        </div>
        <div class="page-wrapper">
            <ul class="sg-snippet-fonts-holder js-fonts-container">
                <li class="row js-font-tpl">
                    <div class="medium-2 columns medium-offset-2 sg-snippet-fonts-big js-set-font"
                         style="font-family: Lato, Arial, sans-serif;">
                        Aa
                    </div>
                    <div class="medium-8 columns js-small-fonts-container">
                        <div class="sg-snippet-fonts-variable js-variable">$font-main: Lato, Arial, sans-serif;</div>
                        <div class="sg-snippet-fonts-small js-set-font" style="font-family: Lato, Arial, sans-serif;">
                            a b c d e f g h i j k l m n o p q r s t u v w x y z <br>
                            A B C D E F G H I J K L M N O P Q R S T U V W X Y Z <br>
                            1 2 3 4 5 6 7 8 9 0
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="snippet">
        <div class="sg-snippet-header">
            <div class="page-wrapper">
                <span class="sg-snippet-title">Typography</span>
            </div>
        </div>
        <div class="page-wrapper">
            <ul class="sg-snippet-headings-holder">
                <li class="row">
                    <div class="medium-1 columns medium-offset-1"><h1>&lt;h1&gt;</h1></div>
                    <div class="medium-10 columns"><h1>The quick brown fox jumps over the lazy dog</h1></div>
                </li>
                <li class="row">
                    <div class="medium-1 columns medium-offset-1"><h2>&lt;h2&gt;</h2></div>
                    <div class="medium-10 columns"><h2>The quick brown fox jumps over the lazy dog</h2></div>
                </li>
                <li class="row">
                    <div class="medium-1 columns medium-offset-1"><h3>&lt;h3&gt;</h3></div>
                    <div class="medium-10 columns"><h3>The quick brown fox jumps over the lazy dog</h3></div>
                </li>
                <li class="row">
                    <div class="medium-1 columns medium-offset-1"><h4>&lt;h4&gt;</h4></div>
                    <div class="medium-10 columns"><h4>The quick brown fox jumps over the lazy dog</h4></div>
                </li>
                <li class="row">
                    <div class="medium-1 columns medium-offset-1"><h5>&lt;h5&gt;</h5></div>
                    <div class="medium-10 columns"><h5>The quick brown fox jumps over the lazy dog</h5></div>
                </li>
                <li class="row">
                    <div class="medium-1 columns medium-offset-1"><h6>&lt;h6&gt;</h6></div>
                    <div class="medium-10 columns"><h6>The quick brown fox jumps over the lazy dog</h6></div>
                </li>
            </ul>

            <div class="sg-snippet-text-example js-examples-container">
                <div class="row js-font-example">
                    <div class="medium-4 columns">
                        <span class="sg-text-example-title">Regular</span>

                        <p>
                            The quick brown fox jumps over the lazy dog. One morning, when Gregor Samsa woke
                            from troubled dreams, he found himself transformed in his bed into a horrible
                            vermin. He lay on his armour-like back, and if he lifted his head a little he could
                            see his brown belly, slightly domed and divided by arches into stiff sections.
                        </p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                        </ul>
                    </div>
                    <div class="medium-4 columns">
                        <span class="sg-text-example-title">Bold</span>

                        <p style="font-weight: bold;">
                            The quick brown fox jumps over the lazy dog. One morning, when Gregor Samsa woke
                            from troubled dreams, he found himself transformed in his bed into a horrible
                            vermin. He lay on his armour-like back, and if he lifted his head a little he could
                            see his brown belly, slightly domed and divided by arches into stiff sections.
                        </p>
                        <ul style="font-weight: bold;">
                            <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                        </ul>
                    </div>
                    <div class="medium-4 columns">
                        <span class="sg-text-example-title">Bold</span>

                        <p style="font-style: italic;">
                            The quick brown fox jumps over the lazy dog. One morning, when Gregor Samsa woke
                            from troubled dreams, he found himself transformed in his bed into a horrible
                            vermin. He lay on his armour-like back, and if he lifted his head a little he could
                            see his brown belly, slightly domed and divided by arches into stiff sections.
                        </p>
                        <ul style="font-style: italic;">
                            <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/interact-1.2.4.min.js"></script>
<script src="js/ZeroClipboard.min.js" type="text/javascript"></script>
<script src="js/jquery.modal.js" type="text/javascript"></script>
<script src="js/categories.js" type="text/javascript"></script>
<script src="js/snippets.js" type="text/javascript"></script>
<script src="js/iframes.js" type="text/javascript"></script>
<script src="js/editor.js" type="text/javascript"></script>
<script src="js/sass.js" type="text/javascript"></script>
<script src="js/views.js" type="text/javascript"></script>
<script src="js/snippetActions.js" type="text/javascript"></script>
<script src="js/main.js"></script>
</body>
</html>