<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Styleguide</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
	<link rel="stylesheet" href="css/main.css">
	<style type="text/css" media="screen">
	    #editor {
	        position: relative;
	        height: 180px;
	        width: 380px;
	    }
	</style>
</head>
<body>
	<div class="page-container">
		<header class="header">
			<div class="page-wrapper">
				<h1>Styleguide</h1>
				<nav class="header-nav">
					<h2 class="h1">Components</h2>
					<div class="dropdown">
						<a href="#">Components</a>
						<a href="#">General</a>
						<a href="#">Layouts</a>
						<a href="#">Buttons</a>
						<a href="#">Form Elements</a>
					</div>
					<div class="btn-ghost-group">
						<a class="btn-ghost" href="#" title="Previous"><i class="fa fa-angle-left"></i></a>
						<a class="btn-ghost" href="#" title="Next"><i class="fa fa-angle-right"></i></a>
					</div>
				</nav>

				<div class="header-snippets-controls">
					<button class="btn-ghost" type="button" title="New Snippet"><i class="fa fa-plus"></i> New</button>
					<button class="btn-ghost" type="button" title="Menu"><i class="fa fa-list"></i></button>
				</div>

				<div class="header-size-controls">
					<div class="btn-ghost-group">
						<button class="btn-ghost" type="button" title="Desktop"><i class="fa fa-desktop"></i></button>
						<button class="btn-ghost" type="button" title="Tablet"><i class="fa fa-tablet"></i></button>
						<button class="btn-ghost" type="button" title="Mobile"><i class="fa fa-mobile"></i></button>
						<input class="btn-ghost" type="text" title="Custom"value="1920">
					</div>
				</div>
			</div>
		</header>

		<main class="main">
			<section class="snippet-form">
				<div class="page-wrapper">
					<form class="row" id="SnipetForm">
						<div class="medium-2 columns">
							<h1>New Snippet</h1>
						</div>
						<div class="medium-4 columns">
							<div class="form-item">
								<label for="form-new-name">* Name:</label>
								<input type="text" id="form-new-name" required>
							</div>

							<div class="form-item">
								<label for="form-new-category">* Category:</label>
								<select id="form-new-category" required>
								</select>
							</div>

							<div class="form-item">
								<label for="form-new-code">* Code:</label>
								<div id="editor"></div><label id="form-new-code-error" style="display: none;">This field is required.</label>
							</div>
						</div>

						<div class="medium-4 columns end">
							<div class="form-item form-item">
								<label for="form-new-desciption">Desciption:</label>
								<textarea id="form-new-desciption"></textarea>
							</div>

							<div class="form-item">
								<label for="form-new-inlinecss">Inline CSS: <i class="fa fa-info-circle"></i></label>
								<textarea id="form-new-inlinecss" class="inline-css"></textarea>
							</div>
						</div>
					</form>
					<div class="row controls-row">
						<div class="medium-4 columns medium-offset-2">
							<button class="btn-primary js-submit-form-button" type="submit" data-submit-form="#SnipetForm">Create</button>
							<button class="btn-secondary" type="button">Cancel</button>
						</div>
						<div class="medium-4 columns end text-right">
							* - Mandatory fields
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>

	<footer class="footer">
		<div class="page-wrapper">
			Powered by Devbridge
		</div>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/main.js"></script>
</body>
</html>
