<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Styleguide</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
		<div class="page-wrapper">
			<h1>Styleguide</h1>
			<nav class="header-nav">
				<h2>Components</h2>
				<div class="dropdown">
					<a href="#">Components</a>
					<a href="#">General</a>
					<a href="#">Layouts</a>
					<a href="#">Buttons</a>
					<a href="#">Form Elements</a>
				</div>
				<div class="btn-ghost-group">
					<a class="btn-ghost" href="#" title="Previous"><i class="fa fa-angle-left"></i></a>
					<a class="btn-ghost" href="#" title="Next"><i class="fa fa-angle-right"></i></a>
				</div>
			</nav>
			
			<div class="header-snippets-controls">
				<button class="btn-ghost" type="button" title="New Snippet"><i class="fa fa-plus"></i> New</button>
				<button class="btn-ghost" type="button" title="Menu"><i class="fa fa-list"></i></button>
			</div>
			
			<div class="header-size-controls">
				<div class="btn-ghost-group">
					<button class="btn-ghost" type="button" title="Desktop"><i class="fa fa-desktop"></i></button>
					<button class="btn-ghost" type="button" title="Tablet"><i class="fa fa-tablet"></i></button>
					<button class="btn-ghost" type="button" title="Mobile"><i class="fa fa-mobile"></i></button>
					<input class="btn-ghost" type="text" title="Custom"value="1920">
				</div>
			</div>
		</div>
	</header>
	
	<main class="main">
		
	</main>
	
	<footer class="footer">
		<div class="page-wrapper">
			Powered by Devbridge
		</div>
	</footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
