//
// Form styles
//
// Global styles for form elements (select, input, file upload, checkbox, radio and etc)
// Examples could be found here: http://codepen.io/devbproto/

[disabled] {
    cursor: not-allowed;
}

.btn-hide-code {
    background: none;
    border: 0;
    display: inline-block;
    font-size: 14px;
    line-height: (30 / 14);
    margin: 0;
    padding: 0 30px 0 0;
    position: relative;

    &::after {
        @include position(absolute, 0 0 0 null);
        @include svg-sprite('icon-arrows');
        content: '';
        margin: auto 0;
    }

    &.active {
        color: $color-blue;
    }
}

.resize-control {
    @include size(2px 50px);
    background-color: #d8d8d8;
    border: 0;
    font-size: 0;
    margin: 0 0 0 10px;
    padding: 0;
    position: relative;

    &::before {
        @include svg-sprite('icon-gripper');
        @include position(absolute, 0 null 0 -10px);
        content: '';
        margin: auto 0;
    }

    &:focus {
        outline: 0;
    }

    &.pos-right {
        margin: {
            left: 0;
            right: 10px;
        }

        &:before {
            left: auto;
            right: -10px;
        }
    }
}

.btn {
    background-color: $color-white;
    border: 0;
    border-radius: 50px;
    color: $color-light-blue;
    display: inline-block;
    font: {
        family: $font-avenir;
        size: 18px;
        weight: $weight-medium;
    }
    height: 31px;
    line-height: (31 / 18);
    padding: 0 20px;
}

.btn-link {
    background: none;
    border: 0;
    color: $color-white;
    display: inline-block;
    font: {
        family: $font-avenir;
        size: 18px;
        weight: $weight-regular;
    }
}
