.noscript-message {
    background-color: #fff1bb;
    font-size: 16px;
    padding: 3px;
    text-align: center;
    z-index: 2147483647;
}

.page-frame {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $max-width-content;
    padding: 0 20px;

    @include media($mobile-480-up) {
        padding: 0 30px;
    }
}

.align-right {
    text-align: right;
}

.hide-on-960 {
    @include media($tablet-960) {
        display: none;
    }
}

.hide-on-768 {
    @include media($tablet-768) {
        display: none;
    }
}
