$icon-list: ('icon-folder', 'icon-download', 'icon-flag', 'icon-chat', 'icon-element', 'icon-nodejs', 'icon-categories', 'icon-desc', 'icon-resize', 'icon-settings');

@each $icon in $icon-list {
    .#{$icon} {
        &:before {
            @include svg-sprite('#{$icon}');
            content: '';
            display: inline-block;
        }
    }
}
