//
// Typography
//

a {
    @include transition(all 0.2s);
    color: $text-link;
    text-decoration: none;

    &:hover {

    }
}

h1,
.heading1 {

}

h2,
.heading2 {
    font: {
        family: $heading-font;
        size: 28px;
        weight: 800;
    }
    line-height: (48/40);
    margin: 30px 0;
}

h3,
.heading3 {
    font: {
        size: 16px;
        weight: 800;
    }
    line-height: (32/20);
    margin: 0 0 25px;
}

h4,
.heading4 {

}

ul {

}

ol {

}

figure {

}

strong {

}

em {

}

p {

}

hr {

}

img {
    max-width: 100%;
}
