// module Global
html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    font: {
        family: $font-main;
        size: 16px;
    }
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.main {
    padding-bottom: 100px;
}

.page-container {
    margin-bottom: -$footer-height;
    min-height: 100%;

    &:after {
        content: '';
        display: block;
        height: $footer-height;
    }
}

.page-wrapper {
    margin: 0 auto;
    padding: 0 $grid-gutter/2;

    @if $grid-responsive == true {
        max-width: $media-medium + $grid-gutter;
    } @else {
        width: $media-medium + $grid-gutter;
    }
}

@if $grid-responsive == false {
    .page-prewrapper {
        min-width: $media-medium + $grid-gutter * 2;
    }
}

@for $i from 1 through 9 {
    .layer-#{$i} {
        z-index: $i * 100;
    }
}

// module Typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
.h1 {
    font-size: 24px;
    font-weight: normal;
}
