// module buttons
%btn-template {
    border: 1px solid transparent;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    line-height: 30px;
    padding: 0 18px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

$btn-ghost-radius: $border-radius;

.btn-primary {
    @extend %btn-template;
    background-color: $color-blue;
    border-radius: 20px;
    color: $color-white;
    @include transition(all .3s ease);

    &:hover {
        border: 1px solid $color-blue;
        background-color: transparent;
        color: $color-blue;
    }
}

.btn-menu {
    position: relative;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid $color-blue;
    border-radius: 50%;
    font-size: 0;

    &:before,
    &:after {
        content: '';
        @include position(absolute, 0 0 0 0);
        margin: auto;
        background-color: $color-blue;
    }

    &:before {
        width: 13px;
        height: 1px;
    }

    &:after {
        height: 13px;
        width: 1px;
    }
}

.btn-blank {
    position: relative;
    @extend %btn-template;
    background-color: transparent;
    color: $color-blue;

    &:before {
        content: '';
        @include position(absolute, null 18px 4px 18px);
        height: 1px;
        background-color: $color-blue;
        visibility: hidden;
        @include transform(scaleX(0));
        @include transition(.15s linear);
    }

    &:hover {
        &:before {
            visibility: visible;
            @include transform(scaleX(1));
        }
    }
}

.btn-full-screen {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: $color-white;
    border-color: transparent;
    font-size: 0;
    text-align: center;
    color: $color-blue;

    &:before {
        content: '\f065';
        display: inline-block;
        text-align: center;
        font-size: 12px;
        @extend %font-icon-style;
    }
}

.btn-with-icon {
    position: relative;
    @extend %btn-template;
    color: $color-black-secondary;
    background: transparent;

    &:before {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    &:after {
        content: '';
        @include position(absolute, null 18px 4px 43px);
        height: 1px;
        background-color: #c1272d;
        visibility: hidden;
        @include transform(scaleX(0));
        @include transition(.15s linear);
    }

    &.icon-delete {
        &:before {
            content: '\f014';
            margin-top: -2px;
            font-size: 18px;
            color: #c1272d;
            @extend %font-icon-style;
        }
    }

    &:hover {
        &:after {
            visibility: visible;
            @include transform(scaleX(1));
        }
    }
}

.btn-show-code {
    display: inline-block;
    height: 44px;
    background-color: transparent;
    border: solid $border-snippet;
    border-width: 0 1px;
    font-size: 13px;
    padding: 0 16px;
    color: #999999;

    &:after {
        content: '';
        display: inline-block;
        width: 17px;
        height: 12px;
        margin-left: 10px;
        vertical-align: middle;
        background: url($src-icon-code) no-repeat;
    }

    &:hover,
    &:focus,
    &.active {
        color: $color-black;

        &:after {
            background-image: url($src-icon-code-active);
        }
    }
}

.btn-edit {
    display: inline-block;
    padding: 0 12px;
    background-color: transparent;
    border: solid $border-snippet;
    border-width: 0 1px 0 0;
    height: 44px;
    font-size: 0;

    &:before {
        content: '\f040';
        display: inline-block;
        font-size: 18px;
        @extend %font-icon-style;
        color: #999999;
    }

    &:hover,
    &:focus,
    &.active {
        &:before {
            color: $color-blue;
        }
    }
}

//module Icons
@include font-face('FontAwesome', './fonts/fontawesome-webfont');

//module Tooltip
.tooltip-wrapper {
    label {
        display: inline-block;
    }

    .tooltip {
        margin-left: 15px;
    }
}

.tooltip-pos-right {
    label {
        display: inline-block;
    }

    .tooltip {
        float: right;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid $color-blue;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;

    &:before {
        content: '\f128';
        display: block;
        margin: -1px 0 0 -2px;
        text-align: center;
        font-size: 12px;
        color: $color-blue;
        @extend %font-icon-style;
    }

    &:hover {
        background-color: $color-blue;

        &:before {
            color: $color-white;
        }

        .tooltip-text {
            visibility: visible;
            opacity: 1;
            @include transform(translateY(-12px));
        }
    }

    &.pos-right {
        &:before {
            margin-left: -1px;
        }

        .tooltip-text {
            left: auto;
            right: 6px;
            margin: 0;

            &:after {
                left: auto;
                right: 0;
                margin: 0;
                border-left: 0;
                border-top: 0;
                border-bottom: 8px solid transparent;
                border-right-color: $color-grey-dark;
            }
        }
    }

    .tooltip-text {
        @include position(absolute, null null 100% 50%);
        display: block;
        width: 180px;
        padding: 8px 10px;
        font-size: 12px;
        line-height: 1.4;
        margin-left: -90px;
        text-align: left;
        background-color: $color-grey-dark;
        color: $color-white;
        visibility: hidden;
        opacity: 0;
        @include transition(opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(.71, 1.7, .77, 1.24));
        @include transform(translate3d(0, 0, 0));

        &:after {
            content: '';
            @include position(absolute, null 0 -8px 0);
            margin: 0 auto;
            @include triangle(20px 8px, $color-grey-dark, down);
        }
    }
}

// module Intro header
.sg-intro {
    &-container {
        padding: 50px 0 75px;
    }

    &-row {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    &-box {
        display: table-cell;
        width: 50%;

        figure {
            width: 250px;
            margin: 0;
            float: right;

            img {
                width: 100%;
            }
        }

        &:last-child {
            vertical-align: middle;
            text-align: right;
        }
    }

    &-title {
        display: block;
        padding-bottom: 15px;
        font: {
            size: 48px;
            weight: $weight-bold;
        }
        line-height: 1.2;
    }

    &-description {
        color: $color-grey-dark;
        font: {
            size: 24px;
            weight: $weight-light;
        }
        line-height: 1.2;

        a {
            font: {
                weight: $weight-bold;
                style: italic;
            }
            position: relative;
            color: $color-black;
            text-decoration: none;

            &:after {
                content: '';
                @include position(absolute, null 0 -2px 0);
                height: 1px;
                background-color: $color-grey-dark;
                @include transform(scaleX(1));
                @include transition(.15s linear);
            }

            &:hover {
                &:after {
                    @include transform(scaleX(0));
                }
            }
        }
    }
}

// module Home secondary navigation
.sg-home-navigation {
    padding: 11px 0;
    border-bottom: 1px solid $border-snippet;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;

        a {
            text-decoration: none;
            color: $color-blue;
            font: {
                size: 16px;
                weight: $weight-bold;
            }

            &:hover,
            &.active {
                color: $color-black-secondary
            }
        }

        + li {
            padding-left: 40px;
        }
    }
}