// module buttons
%btn-template {
    border: 1px solid transparent;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
        text-decoration: none;
    }
}

$btn-ghost-radius: $border-radius;

.btn-primary {
    @extend %btn-template;
    background-color: $color-black;
    border-radius: $btn-ghost-radius;
    color: $color-white;
    min-width: 90px;

    .fa {
        margin-right: 8px;
    }

    &--white {
        background-color: $color-white;
        border: 1px solid $color-black;
        color: $color-black;
    }
}

.btn-menu {
    position: relative;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid $color-blue;
    border-radius: 50%;
    font-size: 0;

    &:before,
    &:after {
        content: '';
        @include position(absolute, 0 0 0 0);
        margin: auto;
        background-color: $color-blue;
    }

    &:before {
        width: 13px;
        height: 1px;
    }

    &:after {
        height: 13px;
        width: 1px;
    }
}

.btn-blank {
    @extend %btn-template;
    background-color: transparent;
    color: $color-black;
    min-width: 90px;
}

//module Icons
@include font-face('FontAwesome', './fonts/fontawesome-webfont');