@mixin activeSnippetControl() {
    @include position(absolute, null 0 0 0);
    @include triangle(10px, $snippet-active, up);
    content: '';
    margin: 0 auto;
}

// module Intro section
.intro-section {
    background: url('../styles/images/bg-intro.jpg') 0 0;
    color: $color-white;
    margin-bottom: 45px;
    padding-top: 46px;
    text-align: center;

    .subtitle {
        font: {
            size: 20px;
            weight: $weight-light;
        }
        line-height: (58 / 48);
        margin: 0;
        padding: 0 0 40px;
    }

    .img-holder {
        margin: 0;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .typing-text {
        display: inline-block;
        font-size: 15px;
        line-height: (25 / 15);
        margin-bottom: 45px;
        min-height: 27px;
        padding-left: 55px;
        text-align: left;

        &::before {
            @include svg-sprite('icon-terminal');
        }
    }

    .blink-cursor {
        height: 19px;
    }

    @include media($tablet-1024-up) {
        @include animation(animatedBackground 11s linear infinite);
        @include animation-fill-mode(both);

        .subtitle {
            padding: 35px 0 80px;
        }
    }

    @include media($tablet-600-up) {
        margin-bottom: 135px;

        .typing-text {
            font-size: 22px;
            line-height: (27 / 22);
            margin-bottom: 140px;
        }
    }

    @include media($tablet-768-up) {
        padding-top: 140px;

        .subtitle {
            font-size: 48px;
        }
    }

    @include media(new-breakpoint(min-width 601px max-width 768px)) {
        padding-top: 100px;

        .subtitle {
            font-size: 30px;
        }

        .typing-text {
            margin-bottom: 110px;
        }
    }

    @include media($mobile-320) {
        .typing-text {
            box-sizing: border-box;
            line-height: 1.1;
            width: 270px;

            &:before {
                bottom: 0;
                margin: auto 0;
                top: 0;
            }
        }
    }
}

@include keyframes(animatedBackground) {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 100%;
    }
}

.intro-logo-holder {
    margin: 0 auto;

    @include media($tablet-1024) {
        display: none;
    }
}

.text-section {
    text-align: center;

    &-content {
        margin: 40px auto 0;
        max-width: 597px;
        opacity: .5;

        p {
            font-weight: $weight-light;
            margin: 0;
        }
    }

    @include media($tablet-600) {
        p {
            font-size: 15px;
            line-height: (24 / 15);
        }

        &-content {
            margin-top: 50px;
        }
    }
}

.section-title {
    padding-bottom: 20px;
    position: relative;

    &::after {
        @include position(absolute, null 0 0 0);
        @include size(70px 3px);
        background-color: $border-primary;
        content: '';
        margin: 0 auto;
    }

    h2 {
        margin: 0;
    }

    &-number {
        @include size(65px 72px);
        color: $text-list-number;
        display: inline-block;
        font: {
            family: $font-trump-gothic;
            size: 24px;
            weight: $weight-bold;
        }
        line-height: (72 / 24);
        margin-bottom: 20px;
        position: relative;
        text-align: center;

        &:before {
            @include position(absolute, 0);
            @include svg-sprite('icon-hexagon');
            content: '';
            margin: auto;
        }
    }

    @include media($tablet-600) {
        h2 {
            font-size: 24px;
        }
    }

    @include media($tablet-600-up) {
        margin-bottom: 30px;

        &-number {
            margin-bottom: 30px;
        }
    }
}

// Font example
.example-section {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

    &-box {
        &:first-child {
            background-color: $bg-primary;
        }

        &:last-child {
            background-color: $bg-secondary;
        }
    }

    &.additional-space-top {
        margin-top: 60px;
    }

    &.additional-space-bottom {
        margin-bottom: 60px;
    }

    @include media(new-breakpoint(min-width 731px max-width 961px)) {
        &-box {
            &:first-child {
                padding-right: 20px;
                width: 50%;
            }

            &:last-child {
                width: 50%;
            }
        }
    }

    @include media($tablet-730-up) {
        &:after {
            @include position(absolute, 0 0 0 40%);
            background-color: $bg-secondary;
            content: '';
            z-index: -1;
        }

        &:before {
            @include position(absolute, 0 70% 0 0);
            background-color: $bg-primary;
            content: '';
            z-index: -1;
        }

        &-inner {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        &-box {
            box-sizing: border-box;
            display: table-cell;
            vertical-align: middle;
        }
    }

    @include media($tablet-730) {
        &-box {
            margin: 0 -30px;

            &:first-child {
                padding: 0 30px;
            }

            &:last-child {
                padding: 0 15px;
            }
        }
    }

    @include media($tablet-960-up) {
        &-box {
            &:first-child {
                width: 60%;
            }

            &:last-child {
                width: 40%;
            }
        }
    }

    @include media($tablet-600-up) {
        &.additional-space-top {
            margin-top: 120px;
        }

        &.additional-space-bottom {
            margin-bottom: 150px;
        }
    }

    @include media($mobile-480) {
        &-box {
            margin: 0 -20px;

            &:first-child {
                padding: 0 20px;
            }

            &:last-child {
                padding: 0 5px;
            }
        }
    }
}

.font-example-content {
    font-family: $font-playfair-display;
    padding-bottom: 60px;

    p {
        font-family: inherit;
        line-height: (30 / 22);
        margin: 0;
    }

    .family-example-title {
        display: block;
        font: {
            family: inherit;
            size: 150px;
        }
        line-height: (170 / 150);
    }

    @include media($tablet-730) {
        margin: 0 auto;
        max-width: 420px;
    }

    @include media($mobile-480) {
        max-width: 200px;
    }
}

.color-palette-holder {
    padding: 89px 0;

    @include media($tablet-730-up) {
        padding: 100px 0 84px;
    }
}

.color-box {
    @include span-columns(4);
    color: $color-white;
    height: 213px;
    position: relative;
    text-align: center;

    > span {
        @include position(absolute, null 10px 12px 10px);
        font-size: 14px;
        line-height: (17 / 14);
    }

    @include media(new-breakpoint(min-width 769px max-width 961px)) {
        @include span-columns(3);
        @include omega(4);
    }

    @include media($tablet-768) {
        @include omega(3);

        &.hide-on-768 {
            display: none;
        }
    }

    @include media($tablet-730-up) {
        height: 200px;
    }

    @include media($tablet-960) {
        &.hide-on-960 {
            display: none;
        }
    }

    @include media($tablet-960-up) {
        @include span-columns(2);
    }
}

.code-box {
    pre[class*="language-"],
    code[class*="language-"] {
        font: {
            family: $font-proxima-nova;
            size: 15px;
            weight: $weight-light;
        }
    }

    pre[class*="language-"] {
        background: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    code[class*="language-"] {
        color: #2dd1ff;
        line-height: (30 / 15);
        text-shadow: none;
    }

    .line-numbers {
        &.dimmed {
            opacity: .15;

            &:first-of-type {
                margin-bottom: -2em;
            }

            &:last-of-type {
                margin-top: -2em;
            }
        }

        .line-numbers-rows {
            border-right: 0;
            letter-spacing: 0;
            top: -4px;
        }
    }

    .line-numbers-rows {
        > span:before {
            color: $color-white;
        }
    }

    .token {
        &.variable {
            color: #fea520;
        }

        &.string {
            color: $color-yellow;
        }

        &.punctuation {
            color: $color-white;
        }

        &.comment {
            color: #35a8ff;
        }
    }

    .language-markup {
        code[class*="language-"] {
            color: $color-white;
        }

        .token {
            &.tag {
                color: #a1b4c1;

                .punctuation {
                    color: inherit;
                }
            }

            &.attr-name {
                color: #5ed4ba;
            }

            &.attr-value {
                color: $color-yellow;

                .punctuation {
                    color: inherit;
                }
            }
        }
    }
}

// module Categories image section
.categories-img-holder {
    @include media($tablet-600-up) {
        margin-top: 60px;
    }

    @include media($tablet-600) {
        display: none;
    }
}

// module Features section
.features-content {
    @include row();
    padding: 60px 0 20px;

    &-box {
        @include span-columns(12);
        padding-bottom: 55px;

        h3 {
            line-height: 1;
            margin-bottom: 10px;
        }

        p {
            font-size: 15px;
            line-height: (23 / 15);
            margin: 0;
            opacity: .5;
        }
    }

    .icon {
        display: block;
        margin-bottom: 8px;
    }

    @include media(new-breakpoint(min-width 651px)) {
        padding-top: 90px;

        &-box {
            @include span-columns(4);
            padding-bottom: 80px;

            p {
                font-size: 16px;
                line-height: (23 / 16);
            }

            h3 {
                margin-bottom: 25px;
            }
        }
    }

    @include media(new-breakpoint(min-width 481px max-width 650px)) {
        &-box {
            @include span-columns(6);
            @include omega(2n);
        }
    }

    @include media(new-breakpoint(max-width 480px)) {
        text-align: center;
    }

    @include media($mobile-480-up) {
        .icon {
            height: 29px;
        }
    }
}

// module Installation section
.installation-section {
    background: url('../styles/images/bg-installation.jpg') no-repeat center bottom fixed;
    background-size: cover;
    color: $color-white;
    padding: 50px 0 60px;

    @include media(new-breakpoint(min-width 961px)) {
        background-position-x: left;
    }

    @include media($tablet-600-up) {
        padding: 55px 0 150px;
    }
}

.installation-intro-text {
    margin: 0 auto;
    max-width: 845px;
    padding-bottom: 60px;
    text-align: center;

    h2 {
        margin-top: 0;
    }

    p {
        font-weight: 300;
        margin-top: 0;
    }

    @include media($tablet-600-up) {
        padding-bottom: 120px;
    }

    @include media($tablet-600) {
        h2 {
            font-size: 24px;
            line-height: (29 / 24);
        }

        p {
            font-size: 15px;
            line-height: (24 / 15);
            opacity: .45;
        }
    }
}

.installation-additional-text {
    padding-bottom: 25px;

    > span {
        display: inline-block;
        font-weight: $weight-light;
        vertical-align: middle;
    }

    .icon-nodejs {
        margin-left: 10px;
        vertical-align: middle;
    }

    @include media($tablet-600-up) {
        padding-bottom: 85px;
        text-align: right;
    }
}

.installation-process {
    list-style: none;
    margin: 0 auto;
    max-width: 545px;
    padding: 0;
    overflow: hidden;

    li {
        @include transition(all .3s ease);
        opacity: 0;
        padding-left: 40px;
        position: relative;
        visibility: hidden;

        &::before {
            @include position(absolute, 7px null null 0);
            @include size(14px);
            border: $color-white solid 2px;
            border-radius: 50%;
            box-sizing: border-box;
            content: '';
        }

        &::after {
            @include position(absolute, 25px null 100% 6px);
            @include transition(all .4s ease);
            @include transition-delay(.4s);
            background-color: $color-white;
            content: '';
            width: 2px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        + li {
            margin-top: 40px;
        }

        &.animate {
            opacity: 1;
            visibility: visible;

            &::after {
                bottom: -43px;
            }
        }
    }

    .typing-text {
        margin-top: 20px;
        opacity: 1;
    }

    @include media($tablet-600-up) {
        .typing-text {
            margin: 25px 0 0 50px;
        }
    }

    @include media($tablet-600) {
        li {
            font-size: 16px;

            &:after {
                opacity: .2;
            }
        }
    }
}

.gulp-task-definition {
    margin: 10px 0 0;

    code {
        color: #fecd08;
        display: block;
        font: {
            family: $font-proxima-nova;
            size: 14px;
            weight: $weight-light;
        }
        line-height: (30 / 15);
        overflow: auto;
        white-space: pre;
        word-wrap: normal;
    }

    @include media($tablet-600-up) {
        margin-left: 30px;

        code {
            font-size: 15px;
        }
    }
}

// module Typing text animation
.blink-cursor {
    @include animation(blink 1s linear infinite);
    background-color: $color-blue;
    display: inline-block;
    font-size: 0;
    height: 17px;
    vertical-align: middle;
    width: 6px;
}

@include keyframes(blink) {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.typing-text {
    color: $color-blue;
    line-height: (22 / 18);
    min-height: 23px;
    opacity: 0;
    padding-left: 45px;
    position: relative;
    white-space: normal;

    &::before {
        @include svg-sprite('icon-terminal-small');
        @include position(absolute, -1px null null 0);
        content: '';
    }

    &.animate {
        opacity: 1;
    }

    @include media($tablet-600) {
        font-size: 14px;
    }

    @include media($tablet-600-up) {
        white-space: nowrap;
    }
}

// module Live edit
.snippet-section {
    .page-frame {
        max-width: 920px;
    }

    @include media($tablet-768-up) {
        margin-bottom: 70px;
    }

    @include media(new-breakpoint(min-width 601px max-width 768px)) {
        margin-bottom: 30px;
    }
}

.snippet-header {
    border: $border-snippet solid;
    border-width: 1px 0;
    margin-top: 75px;

    &-inner {
        @include row();
        padding: 0 15px;
        position: relative;
    }

    &-controls {
        float: right;

        .btn-show-code,
        .btn-edit {
            vertical-align: top;
        }
    }

    @include media($tablet-768-up) {
        &-inner {
            padding: 0 100px;
        }
    }

    @include media(new-breakpoint(min-width 601px max-width 768px)) {
        &-inner {
            padding: 0 50px;
        }
    }
}

.snippet-size {
    @include position(absolute, 0 15px);
    color: $text-snippet-size;
    font-size: 14px;
    line-height: (45 / 14);
    z-index: -1;

    @include media($tablet-768-up) {
        left: 100px;
        right: 100px;
        text-align: center;
    }

    @include media(new-breakpoint(min-width 601px max-width 768px)) {
        left: 50px;
        right: 50px;
    }

    @include media($tablet-600) {
        display: none;
    }
}

.snippet-code-preview {
    background-color: $color-white;
    border-radius: 4px;
    display: block;
    font: {
        family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        size: 12px;
    }
    height: 162px;
    margin: 0;
    padding: 10px;
    white-space: pre;
    word-wrap: normal;
}

.btn-show-code {
    background: none;
    border: $border-snippet solid;
    border-width: 0 1px;
    color: $text-btn-show-code;
    display: inline-block;
    font-size: 13px;
    height: 45px;
    padding: 0 17px;

    &::after {
        @include svg-sprite('icon-arrows');
        content: '';
        margin-left: 14px;
    }

    &.active {
        position: relative;

        &::after {
            @include svg-sprite('icon-arrows-active');
        }

        &::before {
            @include activeSnippetControl();
        }
    }

    &:focus {
        outline: none;
    }

    @include media($tablet-1024-up) {
        &:hover {
            &::after {
                @include svg-sprite('icon-arrows-active');
            }
        }
    }
}

.btn-edit {
    background: none;
    border: $border-snippet solid;
    border-width: 0 1px 0 0;
    display: inline-block;
    font-size: 0;
    height: 45px;
    padding: 0 12px;

    &::before {
        @include svg-sprite('icon-pencil');
        content: '';
        vertical-align: middle;
    }

    &.active {
        position: relative;

        &::before {
            @include svg-sprite('icon-pencil-active');
        }

        &::after {
            @include activeSnippetControl();
        }
    }

    &:focus {
        outline: none;
    }

    @include media($tablet-1024-up) {
        &:hover {
            &::before {
                @include svg-sprite('icon-pencil-active');
            }
        }
    }
}

.snippet-preview {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 20px;
    position: relative;

    @include media($tablet-600-up) {
        padding: {
            left: 10px;
            right: 10px;
        }
    }

    @include media($tablet-600) {
        margin: 0 auto;
        max-width: 320px;
    }
}

.snippet-resize-handle {
    @include position(absolute, 50% null null);
    @include transition(all .4s);
    box-sizing: border-box;
    cursor: w-resize;
    height: 100px;
    margin-top: -50px;
    width: 30px;

    &::before {
        @include svg-sprite('icon-handle');
        @include position(absolute, 50% null null);
        content: '';
        margin-top: -8px;
    }

    &.pos-left {
        border-right: $border-snippet solid 1px;
        left: -30px;

        &::before {
            left: 0;
        }
    }

    &.pos-right {
        border-left: $border-snippet solid 1px;
        right: -30px;

        &::before {
            right: 0;
        }
    }

    @include media($tablet-1024-up) {
        opacity: 0;
        visibility: hidden;

        .snippet-section:hover & {
            @include transform(translateX(0));
            opacity: 1;
            visibility: visible;
        }

        &.pos-left {
            @include transform(translateX(10px));
        }

        &.pos-right {
            @include transform(translateX(-10px));
        }
    }

    @include media($tablet-600) {
        display: none;
    }
}

.snippet-info {
    @include transition(all .3s ease-out);
    height: 0;
    margin-top: -1px;
    pointer-events: none;
    visibility: hidden;

    &-inner {
        @include transition(all .3s ease-out);
        @include transform(translateY(-15px));
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
    }

    &-content {
        background-color: $bg-snippet-editor;
        border-top: solid 2px $snippet-active;
    }

    &-title {
        color: $color-black-100;
        font-size: 14px;
        padding-bottom: 5px;

        sup {
            color: $color-pink;
            font-size: 14px;
            top: -2px;
        }
    }

    &-content-footer {
        background-color: $snippet-active;

        .btn-link {
            margin-left: 15px;
            vertical-align: middle;
        }
    }

    &.active {
        height: auto;
        pointer-events: all;
        visibility: visible;

        .snippet-info-inner {
            @include transform(translateY(0));
            height: auto;
            opacity: 1;
            visibility: visible;
        }
    }

    @include media($tablet-768-up) {
        &-content {
            padding: 30px 35px;
        }

        &-content-footer {
            padding: 15px 30px;
        }
    }

    @include media($tablet-768) {
        &-content {
            padding: 30px 20px;
        }

        &-content-footer {
            padding: 15px 20px;
        }
    }

    @include media($tablet-600-up) {
        &-content {
            @include row();
        }

        &-col {
            @include span-columns(6);
        }
    }

    @include media($tablet-600) {
        &-col {
            + .snippet-info-col {
                margin-top: 30px;
            }
        }
    }
}

.snippet-source {
    &.resize-overlay {
        pointer-events: none;
        position: relative;
    }
}

// Ace editor modify
.editor-container {
    height: 162px;

    &.ace-github {
        border-radius: 4px;
        font-size: 12px;

        .ace_gutter {
            background: none;
            color: $color-gray-100
        }
    }
}
