// module Intro section
.intro-section {
    @include animation(animatedBackground 11s linear infinite);
    @include animation-fill-mode(both);
    background: url('../styles/images/bg-intro.jpg') 0 0;
    color: $color-white;
    margin-bottom: 135px;
    padding-top: 150px;
    text-align: center;

    .subtitle {
        font: {
            size: 48px;
            weight: $weight-light;
        }
        line-height: (58/48);
        margin: 0;
        padding: 35px 0 80px;
    }

    .img-holder {
        margin: 0;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .typing-text {
        display: inline-block;
        font-size: 22px;
        margin-bottom: 140px;
        min-height: 27px;
        padding-left: 55px;

        &:before {
            @include svg-sprite('icon-terminal');
        }
    }

    .blink-cursor {
        height: 19px;
    }
}

@include keyframes(animatedBackground) {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 100%;
    }
}

.intro-logo-holder {
    margin: 0;
}

.text-section {
    text-align: center;

    &-holder {
        margin: 50px auto 0;
        max-width: 597px;
        opacity: .5;

        p {
            font-weight: $weight-light;
            margin: 0;
        }
    }

    &.automate-work {
        background-color: $bg-primary;
        padding: 125px 0;
    }
}

.section-title {
    padding-bottom: 30px;
    position: relative;

    &:after {
        @include position(absolute, null 0 0 0);
        @include size(70px 3px);
        background-color: $border-primary;
        content: '';
        margin: 0 auto;
    }

    h2 {
        margin: 0;
    }

    &-number {
        @include size(65px 72px);
        color: $text-list-number;
        display: inline-block;
        font: {
            family: $font-trump-gothic;
            size: 24px;
            weight: $weight-bold;
        }
        line-height: (72/24);
        margin-bottom: 30px;
        position: relative;
        text-align: center;

        &:before {
            @include position(absolute, 0);
            @include svg-sprite('icon-hexagon');
            content: '';
            margin: auto;
        }
    }
}

// Font example
.example-section {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

    &:after {
        @include position(absolute, 0 0 0 40%);
        background-color: $bg-secondary;
        content: '';
        z-index: -1;
    }

    &:before {
        @include position(absolute, 0 70% 0 0);
        background-color: $bg-primary;
        content: '';
        z-index: -1;
    }

    &-inner {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    &-box {
        display: table-cell;
        vertical-align: middle;

        &:first-child {
            background-color: $bg-primary;
            width: 60%;
        }

        &:last-child {
            background-color: $bg-secondary;
            width: 40%;
        }
    }

    &.additional-space-top {
        margin-top: 120px;
    }

    &.additional-space-bottom {
        margin-bottom: 150px;
    }
}

.example-content {
    font-family: $font-playfair-display;
    padding-bottom: 60px;

    p {
        font-family: inherit;
        line-height: (30/22);
        margin: 0;
    }

    .family-example-title {
        display: block;
        font: {
            family: inherit;
            size: 150px;
        }
        line-height: (170/150);
    }
}

.color-palette-holder {
    padding: 100px 0 84px;
}

.color-box {
    @include span-columns(2);
    color: $color-white;
    height: 200px;
    position: relative;
    text-align: center;

    > span {
        @include position(absolute, null 10px 12px 10px);
        font-size: 14px;
        line-height: (17/14);
    }
}

.code-box {
    pre[class*="language-"],
    code[class*="language-"] {
        font: {
            family: $font-proxima-nova;
            size: 15px;
            weight: $weight-light;
        }
    }

    pre[class*="language-"] {
        background: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    code[class*="language-"] {
        color: #2dd1ff;
        line-height: (30/15);
        text-shadow: none;
    }

    .line-numbers {
        .line-numbers-rows {
            border-right: 0;
            letter-spacing: 0;
            top: -4px;
        }
    }

    .line-numbers-rows {
        > span:before {
            color: $color-white;
        }
    }

    .token {
        &.variable {
            color: #fea520;
        }

        &.string {
            color: $color-yellow;
        }

        &.punctuation {
            color: $color-white;
        }

        &.comment {
            color: #35a8ff;
        }
    }

    .language-markup {
        code[class*="language-"] {
            color: $color-white;
        }

        .token {
            &.tag {
                color: #a1b4c1;

                .punctuation {
                    color: inherit;
                }
            }

            &.attr-name {
                color: #5ed4ba;
            }

            &.attr-value {
                color: $color-yellow;

                .punctuation {
                    color: inherit;
                }
            }
        }
    }
}

// module Snippet section
.snippet-section {
    padding: 97px 0 160px;
}

.snippet-box {
    border: 1px solid #dedede;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px 30px 35px;
    width: 708px;
}

.snippet-code-holder {
    @include transition(all .3s ease-out);
    background-color: #2f3638;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    max-height: 0;
    overflow: hidden;
    width: 708px;

    &.opened {
        max-height: 350px;
    }
}

.title-row {
    @include row();
    padding-bottom: 30px;

    &-box {
        @include span-columns(6);
    }
}

.snippet-title {
    color: $text-snippet-title;
    font-weight: $weight-medium;
}

.snippet-preview {
    padding: 30px 25px;
    position: relative;

    .resize-control {
        @include position(absolute, 0 null 0 0);
        height: 100%;

        &.pos-right {
            left: auto;
            right: 0;
        }
    }
}

.snippet-button-holder {
    text-align: center;

    button + button {
        margin-left: 20px;
    }
}

// module Features section
.features-content {
    @include row();
    padding: 100px 0 20px;

    &-box {
        @include span-columns(4);
        @include omega(3n);
        padding-bottom: 80px;

        p {
            font-size: 16px;
            line-height: (23/16);
            margin: 0;
            opacity: .5;
        }
    }
}

// module Installation section
.installation-section {
    background: url('../styles/images/bg-installation.jpg') no-repeat left top fixed;
    background-size: cover;
    color: $color-white;
    padding: 55px 0 150px;
}

.installation-intro-text {
    margin: 0 auto;
    max-width: 845px;
    padding-bottom: 120px;
    text-align: center;

    h2 {
        margin-top: 0;
    }

    p {
        font-weight: 300;
        margin-top: 0;
    }
}

.installation-additional-text {
    padding-bottom: 85px;
    text-align: right;

    > span {
        display: inline-block;
        font-weight: $weight-light;
        vertical-align: middle;
    }

    .icon-nodejs {
        margin-left: 15px;
        vertical-align: middle;
    }
}

.installation-process {
    list-style: none;
    margin: 0 auto;
    max-width: 545px;
    padding: 0;

    li {
        @include transition(opacity .5s ease);
        padding-left: 40px;
        position: relative;

        &:before {
            @include position(absolute, 7px null null 0);
            @include size(14px);
            border: $color-white solid 2px;
            border-radius: 50%;
            box-sizing: border-box;
            content: '';
        }

        + li {
            margin-top: 40px;
            opacity: 0;

        }

        &:after {
            @include position(absolute, 25px null 100% 6px);
            @include transition(bottom .5s ease);
            background-color: $color-white;
            content: '';
            width: 2px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &.active {
            opacity: 1;
        }

        &.animate {
            &:after {
                bottom: -43px;
            }
        }
    }

    code {
        color: #fecd08;
        display: block;
        font: {
            family: $font-proxima-nova;
            weight: $weight-light;
            size: 15px;
        }
        line-height: (30/15);
        margin-left: 30px;
        overflow: auto;
        white-space: pre;
        word-wrap: normal;
    }

    pre {
        margin: 10px 0 0;
    }

    .typing-text {
        margin: 25px 0 0 50px;
    }
}

// module Typing text animation
.blink-cursor {
    @include animation(blink 1s linear infinite);
    background-color: $color-blue;
    display: inline-block;
    font-size: 0;
    height: 17px;
    vertical-align: middle;
    width: 6px;
}

@include keyframes(blink) {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.typing-text {
    color: $color-blue;
    line-height: (22/18);
    min-height: 23px;
    opacity: 0;
    padding-left: 45px;
    position: relative;
    white-space: nowrap;

    &:before {
        @include svg-sprite('icon-terminal-small');
        @include position(absolute, -1px null null 0);
        content: '';
    }

    &.active {
        opacity: 1;
    }
}
